<template>
  <div class="files">

    <input id="file" type="file" class="form-control"/>
    <v-btn color="primary"
    @click="upload">Upload</v-btn>

    <ul>
      <file
        v-for="(file, index) in store.state.bubbles.chosen.files"
        :key="file.id"
        :data="file"
        :index="index"
      ></file>
    </ul>

  </div>
</template>

<script type="text/babel">
  export default {
    name: 'files',
    props: {

    },
    data () {
      return {
        server: server.data,
        store: ""
      }
    },
    methods: {
      upload: function(event) {

        let file = document.getElementById('file').files[0];
        if(!file) {
				  toastr.error('Сначала выберите файл');
					return;
				}

        let filename = file.name;

        let formdata = new FormData();
        formdata.append('file', file);
        formdata.append('name', filename);

        if(file) {
					axios.post('/api/files/upload_to_bubble/' + this.store.state.bubbles.chosen.id, formdata)
						.then(function (response) {
              toastr.success('Файл успешно загружен');
						})
						.catch(function (error) {
						  toastr.error('<h2>Error #'+error.response.status+' </h2><br>'+error.response.data.message);
						});
				}

      },
      pushNewFile: function(id_bubble, file) {
        this.store.commit('bubbles/pushNewFile', {
          'id_bubble': id_bubble,
          'file': file
        });
      }
    },
    components: {
      'file':    require('$app/contents/rsidebar/files/file/file.vue')
    },
    created: function () {

      // 1. Set store
      this.store = this.$store.default;

      // 2. Listen to a messages from the websocket server
      Echo.private('App.Bubble.Files.'+this.store.state.bubbles.chosen.id)
        .listen('BroadcastBubbleFilesList', (e) => {
          this.pushNewFile(e.id_bubble, e.file);
        });

    },
  }
</script>

<style lang="scss" scoped>

  .files {
    padding: 0 10px;
  }
  .files>ul {
    margin-left: 0;
    padding-left: 0;
  }


</style>
