<template src="$app/_shared/extensions/support/support.html"></template>
<style src="$app/_shared/extensions/support/support.scss" lang="scss" scoped></style>
<script src="$app/_shared/extensions/support/support.js"></script>