<template>
  <div id="contents" class="contents"
    :style="{'margin-right': store.state.rsidebar.width}"
     v-show="store.state.notmodal.active === false">

    <transition name="fade" mode="out-in">
      <keep-alive>
        <router-view></router-view>
      </keep-alive>
    </transition>

  </div>
</template>

<script type="text/babel">
  export default {
    name: 'contents',
    data () {
      return {
        server: server,
        store: "",
        paddingRight: ""
      }
    },
    components: {},
    created: function () {

      // 1. Set store
      this.store = this.$store.default;

    }
  }
</script>

<style lang="scss" scoped>

  #contents {
    margin-left: $lsidebar-width;
    margin-right: $rsidebar-width;
    transition: all .4s ease;
  }

  #contents .fade-enter-active, .fade-leave-active {
    transition: opacity .2s;
  }
  #contents .fade-enter, .fade-leave-to {
    opacity: 0;
  }


</style>
