<template>
    <div class='calendararea'>
	    <drop @drop="handleDrop"><full-calendar :config="config" :events="events" @event-drop='eventDrop' @event-resize='eventResize' @event-selected="eventSelected"></full-calendar></drop>
    </div>
</template>

<script type="text/babel">
  import moment from 'moment'
  import { Drag, Drop } from 'vue-drag-drop';
  import $ from 'jquery';

  export default {
    name: 'calendararea',
    props: {

    },
    data () {
      return {
        store:'',
        selectedBubbleId:'',
        events: [],
        config: {
                defaultView: 'agendaWeek',
                header: {
                        left: 'today prev,next title',
                        center: '',
                        right: ''
                },
                aspectRatio: 1.35,
                buttonText:{
                    today: 'Today'
                },
                //allDaySlot: false,
                slotLabelFormat: 'HH:mm',
                slotDuration: '00:15:00',
                allDayText:'',
                scrollTime: '15:00:00',
                minTime: '06:00:00',
                maxTime: '20:00:00',
				
				editable: true,
				//droppable:true,
				drop: function(date, jsEvent, ui, resourceId) {
					
					console.log('dsadsa');
					
				},
				
                columnHeaderFormat:'D ddd',
                titleFormat: 'YYYY MMMM',
                eventColor: '#fafafa',
                eventRender: function(event, element) {
					
					if(!event.id){
						return false;
					}
					
                    if (event.className == 'selected') {
                        element.css({
                            'background-color': '#6c6c6c',
                            'color': '#ffffff'
                        });
                    }
                },
              },
		dropData:[]		
      }
    },
    methods: {
        // Handles the drop from bubbles stack
        handleDrop(data) {
			
            // Creating new event with bubble
			this.dropData = data;
            this.createEvent(data);
        },
        // Handles event drop from calendar
        eventDrop(event){
            // Edits the event
            this.createEditRequest(event);
        },

        // Handles event resize from calendar
        eventResize(event){
            // Edits the event
            this.createEditRequest(event);
        },
		
        // Handles when event is selected
        eventSelected(event, jsEvent, view){
		
            // Creates event prototype
            let evt = {
                id : event.id,
                start : event.start,
                end : event.end,
                bubble_id: event.bubblesId,
                title: event.title
            }
            // If the event is not set, sets the default value
            if(!evt.end){
                evt.end = event.start.add(2, 'h');
            }
			
            // start event choose mutation
            this.store.commit('events/choose', evt);
			
			
			// 1. Open notmodal window
			
			this.store.commit('notmodal/choose', {
				modal: 'event_chosen',
				"meta": {
                        "test": 123
                      }
			});
			this.store.commit('notmodal/show', {});
			
			
			/*
            // opens modalfor editing
            this.store.commit('modal/choose', {
                      "modal": "show_event",
                      "meta": {
                        "test": 123
                      }
            });
            this.store.commit('modal/show', {});
			*/
        },

        // Creating the event from bubble
        createEvent: function(data){

            // Prepare request parameters object
            let params = {
                bubble_id: data.id,
                start: 	moment().format("YYYY-MM-DD HH:mm:ss"),
                end:moment().add(1, 'd').format("YYYY-MM-DD HH:mm:ss")
            };

            //Sending request
            axios.post('/api/core/calendar/add', params).then(response => {
                // Adding event to calendar
                this.addEventToCalendar(response.data);
            }).catch(function (error) {
                toastr.error('<h2>Error #'+error.response.status+' </h2><br>'+error.response.data.message);
                console.log(error);
            });


        },

        // Adding the event to calendar
        addEventToCalendar(data){

            //Prepare creating event object;
            let event = {};

            //Checking if it's allday event to add "allDay" feauture
            if(moment.utc(moment(data.start,'DD-MM-YYYY HH:mm:ss').diff(moment(data.end,'DD-MM-YYYY HH:mm:ss'))).format("HH") == '00'){
                event.allDay = true;
            }

            // Assigning the values
            event.id = data.id;
            event.start = data.start;
            event.end = data.end;
            event.title = data.bubbles['0'].title;
            event.bubblesId = data.bubbles['0'].id;
			
			//Checking if surent event buuble id equals to the selected bubbles id
            if(event.bubblesId == this.selectedBubbleId){
				// Adding selected class to event
                event.className = 'selected';
            }

            // Pushing event to "events" array
            this.events.push(event);
        },

        // Delete event
        deleteEvent(id){
            //Sending request
            var componentContext = this;
            axios.post('/api/core/calendar/delete', { event_id: id }).then(response => {
					// Refreshes event
                    componentContext.refreshEvents();
             }).catch(function (error) {
                   toastr.error('<h2>Error #'+error.response.status+' </h2><br>'+error.response.data.message);
                   console.log(error);
               });

        },
		// Refreshes event list
        refreshEvents() {
			// Deletes all previous events
            this.events = [];
			// Add new events
            this.getUserEvents();
        },

        // Update event
        updateEvent(data,refresh = false){
            var componentContext = this;
            //Sending request
            axios.post('/api/core/calendar/edit', data).then(response => {
				// Checks if refresh property is set and if set refreshes events
                if(refresh) componentContext.refreshEvents();
            }).catch(function (error) {
                toastr.error('<h2>Error #'+error.response.status+' </h2><br>'+error.response.data.message);
                console.log(error);
            });
        },

        // Get user's all events
        getUserEvents(){
            //Sending request
            var componentContext = this;

            axios.post('/api/core/calendar/get', {}).then(response => {
                  if(response.data.length){
					  // Create calendar event for each event
                      response.data.forEach(function(item,index){
                          componentContext.addEventToCalendar(item);
                      });
                  }
            }).catch(function (error) {
				  toastr.error('<h2>Error #'+error.response.status+' </h2><br>'+error.response.data.message);
				  console.log(error);
			  });
        },

        // Creates edit request
        createEditRequest(event,refresh = false){
                // Prepare event object
                let addingEvent = {};

                // Setting values
                addingEvent.event_id = event.id;
                addingEvent.start = moment(event.start).format("YYYY-MM-DD HH:mm:ss");
                addingEvent.end = moment(event.start).add(2, 'h').format("YYYY-MM-DD HH:mm:ss");
				// If the end is not set in calendar event sets the default value
                if(event.end) addingEvent.end = moment(event.end).format("YYYY-MM-DD HH:mm:ss");
				
                // If allday event set the properties
                if(event.allDay){
                    addingEvent.start = moment(event.start).format("YYYY-MM-DD 00:00:00");
                    addingEvent.end = moment(event.start).add(1, 'd').format("YYYY-MM-DD 00:00:00");
                }
				//Update event
                this.updateEvent(addingEvent,refresh);

        }
    },
    components: {Drag, Drop},
    created: function () {
		// Get the events
        this.getUserEvents();
        this.store = this.$store.default;
		
    },
    mounted(){
			// Setting the components
            var componentText = this.store;
            var componentContext = this;
			
			
			
			
			// Interval function
            setInterval(function(){
					// Checking if new event is chosen
                    if(componentText.getters['events/getChosen']){
                        if(componentText.getters['events/getChosen'].to_be_deleted){
                            componentContext.deleteEvent(componentText.getters['events/getChosen'].id);
                            componentText.commit('events/choose', {});
                        }
                        if(componentText.getters['events/getChosen'].to_be_edited){

                            componentContext.createEditRequest(componentText.getters['events/getChosen'],true);

                            componentText.commit('events/choose', {});
                        }
                    }
					// Checking if new bubble is chosen
                    if(componentText.getters['bubbles/getChosen']){
                        if(componentText.getters['bubbles/getChosen'].id != componentContext.selectedBubbleId){
                            componentContext.selectedBubbleId = componentText.getters['bubbles/getChosen'].id ;
                            componentContext.refreshEvents();
                        }
                    }
            }, 1000);
    }
  }
  
  
</script>

<style src="$app/contents/calendar/fullcalendar/dist/fullcalendar.css"></style>
   
</style>

<style lang="scss" scoped>

    .calendararea {
        position: relative;
        //background: #eee;
        margin-left: $contents-chat-bubbles-width;
        padding-left: $contents-chat-chatarea-padding-left;
        padding-right: $contents-chat-chatarea-padding-right;
        margin-top: 30px;
    }

</style>

