<template>
  <div id="contents" class="contents">

    <transition>
      <keep-alive>
        <router-view></router-view>
      </keep-alive>
    </transition>

    <rsidebar></rsidebar>

  </div>
</template>

<script type="text/babel">
  export default {
    name: 'contents',
    data () {
      return {
        server: server
      }
    },
    components: {
      'rsidebar': require('$app/contents/rsidebar/rsidebar.vue'),
    }
  }
</script>

<style lang="scss" scoped>

  #contents {
    margin-left: $sidebar-width;
    margin-right: $rsidebar-width;
  }



</style>
