<template>
  <div class="hat"
    :style="{right: store.state.rsidebar.width}">

    <!--breadcrumbs-->
    <breadcrumbs></breadcrumbs>

  </div>
</template>

<script type="text/babel">
  export default {
    name: 'hat',
    props: {

    },
    data () {
      return {
        store: ""
      }
    },
    methods: {},
    components: {
      'breadcrumbs': require('$app/contents/chat/chatarea/hat/breadcrumbs/breadcrumbs.vue')
    },
    created: function () {

      // 1. Set store
      this.store = this.$store.default;

    },
    beforeDestroy: function() {}
  }
</script>

<style lang="scss" scoped>

  .hat {
    position: fixed;
    top: 0;
    left: $contents-chat-chatarea-hat-left;
    right: $contents-chat-chatarea-hat-right;
    height: $contents-chat-chatarea-hat-height;
    background: $contents-chat-chatarea-hat-bg;
    //border-bottom: $contents-chat-chatarea-hat-border-width solid $contents-chat-chatarea-hat-border-color;
    padding-left: $contents-chat-chatarea-padding-left;
    padding-right: $contents-chat-chatarea-padding-right;
    z-index: 1;
    transition: all .4s ease;
  }

</style>
