<template>
  <div class="chat">

    <div class="header">

      <div class="title">
        {{ store.state.bubbles.chosen.title }}
      </div>

      <div class="description">
        {{ store.state.bubbles.chosen.description }}
      </div>

    </div>

    <div class="messages">

      <ul>
        <li
          v-for="(message, index) in store.state.bubbles.chosen.messages"
          v-bind:key="message.id"
        >

          <div class="text">{{ message.message }}</div>
          <div class="user_and_time">
            <div class="user">{{ message.users.email }}</div>
            <div class="time">{{ message.created_at }}</div>
          </div>

        </li>
      </ul>

    </div>

    <div class="input">
      <v-container fill-height>
        <v-layout row>
          <v-flex class="logo" xs12>
            <v-text-field
              v-model="input"
              label="Напишите что-нибудь..."
              @keyup.enter="postNewMessage"
            ></v-text-field>
          </v-flex>
        </v-layout>
      </v-container>
    </div>

  </div>
</template>

<script type="text/babel">
  export default {
    name: 'chat',
    props: {

    },
    data () {
      return {
        store: "",
        input: ""
      }
    },
    methods: {
      pushNewMessage: function(id_bubble, message){
        this.store.commit('bubbles/pushMessage', {
          'id_bubble': id_bubble,
          'message': message
        });
      },
      postNewMessage: function(){

        // 1. If input is empty, return
        if(!this.input) return;

        // 2. Post a new message
        axios.post('/api/chat/'+this.store.state.bubbles.chosen.id, {
          message: this.input
        })
          .then(function (response) {

            // Scroll down
            setTimeout(function(){
              window.scrollTo(0, document.body.scrollHeight);
            }, 100);

          })
          .catch(function (error) {
            console.log(error);
          });

        // 3. Clear input
        this.input = "";

      }
    },
    components: {

    },
    created: function () {

      // 1. Set store
      this.store = this.$store.default;

      // 2. Listen to a messages from the websocket server
      for(let i=0; i<this.store.state.bubbles.bubbles.length; i++) {
        Echo.private('App.Bubble.Chat.'+this.store.state.bubbles.bubbles[i].id)
          .listen('BroadcastChatMessage', (e) => {
            this.pushNewMessage(e.id_bubble, e.message);
          });
      }

      // 3. Scroll bottom
      $(document).ready(function() {
        setTimeout(function(){
          window.scrollTo(0, document.body.scrollHeight);
        }, 100);
      });

    },
    beforeDestroy: function() {

      // 1. Leave all websocket server channels related to bubbles
      // for(let i=0; i<this.store.state.bubbles.bubbles.length; i++) {
      //   Echo.leave('App.Bubble.Chat.'+this.store.state.bubbles.bubbles[i].id);
      // }

    }
  }
</script>

<style lang="scss" scoped>

  .chat {
    height: $contents-chat-height;
    background: #eee;
  }

  .chat .header {
    position: fixed;
    top: 0; left: $sidebar-width; right: $rsidebar-width;
    height: $contents-chat-header-height;
    background: $contents-chat-header-bg;
    padding: 10px;
  }
  .chat .header .title {

  }
  .chat .header .description {
    padding-top: 5px;
  }

  .chat .messages {
    background: #eee;
    padding: $contents-chat-header-height + 10px 10px;
  }
  .chat .messages ul {
    margin-left: 0;
    padding-left: 0;
  }
  .chat .messages ul li {
    list-style-type: none;
    margin-bottom: 15px;
  }
  .chat .messages ul li .text {
    display: inline-block;
    background: #fff;
    border-radius: 5px;
    padding: 5px 10px;
  }
  .chat .messages ul li .user_and_time {
    padding: 0 10px;
  }
  .chat .messages ul li .user_and_time>div {
    display: inline-block;
    font-size: .8em;
    color: darken(#eee, 20%);
    margin-right: 10px;
  }

  .chat .input {
    position: fixed;
    bottom: 0; left: $sidebar-width; right: $rsidebar-width;
    height: $contents-chat-header-height;
    background: $contents-chat-header-bg;
    padding: 10px;
  }
  .chat .input .container {
    padding: 0;
  }


</style>
