<template>
  <div class="lsidebar" v-show="store.state.notmodal.active === false">

    <!--menu-->
    <lmenu></lmenu>

    <!--contents-->
    <div class="contents"></div>

  </div>
</template>

<script type="text/babel">
  export default {
    name: 'lsidebar',
    props: {

    },
    data () {
      return {
        store: "",
        server: server.data
      }
    },
    components: {
      'lmenu': require('$app/lsidebar/lmenu/lmenu.vue')
    },
    created: function () {

      // 1. Set store
      this.store = this.$store.default;

    },
  }
</script>

<style lang="scss" scoped>

  .lsidebar {
    position: fixed; left: 0; top: 0;
    width: $lsidebar-width;
    background: $lsidebar-bg;
    height: 100%;
    border-right: $lsidebar-border-width solid $lsidebar-border-color;
  }




</style>
