<drag class="drag draggable" style="z-index:999" :transfer-data="{ id: data.id, title: data.title }">
	<li class="bubble"
	:class="{chosen: chosen.id == data.id}"
	@click="choose">

	<!-- Stack view -->
	<div class="stack" v-if="usecase == 'stack'">

	<!--background-->
	<div class="bg">

		<!--title-->
		<div class="title">
			<span>{{ data.title }}</span>
		</div>

		<!--statuses-->
		<div class="status">
			<span>Planned in 10 min</span>
		</div>


	</div>


	<!--color-tag-->
	<div class="color-tag">
		<span class="icon-color-tag"></span>
	</div>


	<!--notifications-->
	<div class="new_messages">
		<span>3</span>
	</div>


	<!--Tracker-->
	<div class="tracker">
		<span class="icon-play"></span>
	</div>

	</div>


	<!-- List view -->
	<div class="list" v-if="usecase == 'list'">

		<!--color-tag-->
		<div class="color-tag">
			<span class="icon-color-tag"></span>
		</div>

		<!--title-->
		<div class="title">
			<span>{{ data.title }}</span>
		</div>



	</div>

	</li>
</drag>