.bubble {
	position: relative;
	list-style-type: none;
	margin: 0;
	cursor: pointer;
	transition: all .2s ease;
}

.bubble .stack{
	border-radius: 6px;
	margin: 0 0 $global-grid-interval 0;
	height: $global-grid-interval*7;
}

.bubble .stack .bg{
	z-index: -100;
	position: absolute;
	border-radius: 6px;
	top:0;
	left: 0;
	width: $contents-chat-bubbles-width - $global-grid-interval*4;
	height: $global-grid-interval*7;
	background: $contents-chat-bubbles-blist-bubble-bg;
	padding: 0 $global-grid-interval*2 $global-grid-interval $global-grid-interval*2;
	transition: all .2s ease;
}

.bubble.chosen .stack .bg{
	background: $contents-chat-bubbles-blist-bubble-bg-chosen;
}


.bubble:not(.chosen):hover .stack .bg{
	background: $contents-chat-bubbles-blist-bubble-bg-hover;
}


.bubble .stack .color-tag{
	text-align: center;
	position: absolute;
	top: $global-grid-interval*7/2 - 6;
	left: -6px;
	width: 12px;
	height: 12px;
	border-radius: 12px;
	background-color: $global-font-color-light;
}

.bubble .stack .color-tag span{
	line-height: 12px;
	font-size: 10px;
	color: #A9EF29;
}


.bubble .stack .title {
	color: $global-font-color-dark;
	margin-top: $global-grid-interval+1px;
	font-size: $global-font-size-text;
	height: ($contents-chat-bubbles-blist-bubble-height - 2*$contents-chat-bubbles-blist-bubble-padding-vertical)/2;
	line-height: ($contents-chat-bubbles-blist-bubble-height - 2*$contents-chat-bubbles-blist-bubble-padding-vertical)/2;
}
.bubble .stack .status {
	font-size: $global-font-size-subtext;
	height: ($contents-chat-bubbles-blist-bubble-height - 2*$contents-chat-bubbles-blist-bubble-padding-vertical)/2;
	line-height: ($contents-chat-bubbles-blist-bubble-height - 2*$contents-chat-bubbles-blist-bubble-padding-vertical)/2;
}

.bubble .stack .new_messages {
	display: block;
	position: absolute; top: 0; right: 0;
	font-size: $global-font-size-subtext;
	font-weight: bold;
	color: $global-font-color-dark;
	width: 40px;
	height: $contents-chat-bubbles-blist-bubble-height;
	line-height: $contents-chat-bubbles-blist-bubble-height;
	border-radius: $contents-chat-bubbles-blist-bubble-border-radius;
	text-align: center;
}

.bubble:hover .stack .new_messages{
	display: none;
}

.bubble.chosen .stack .title{
	color: $global-font-color-light;
	font-weight: bold;
}

.bubble.chosen .stack .status{
	color: $global-font-color-light;
}


.bubble:not(.chosen):hover {
	color: $global-font-color-darkgray;
}


.bubble:not(.chosen) .stack .status {
	color: $global-font-color-darkgray;
}

.bubble.chosen .stack .new_messages {
	color: $global-font-color-light;
}

.bubble .stack .tracker {
	display: none;
	text-align: right;
	position: absolute;
	height: $contents-chat-bubbles-blist-bubble-height;
	width: 40px;
	top: 0;
	right: 8px;
	transition: all .2s ease;
}

.bubble .stack .tracker span{
	line-height: $contents-chat-bubbles-blist-bubble-height;
	font-size: $global-icon-size-standard;
	color: $global-icon-color-on-light;
	transition: all .2s ease;
}

.bubble:hover .stack .tracker{
	display: block;
}

.bubble .stack .tracker:hover span{
	color: $global-icon-color-on-light-hover;
}


/* List */


.bubble .list .color-tag, .bubble .list .title{
	display: inline-block;
	margin-bottom: 4px;
}

.bubble .list .color-tag{
	text-align: center;
	width: 12px;
	height: 12px;
	border-radius: 12px;
}

.bubble .list .color-tag span{
	line-height: 12px;
	font-size: 10px;
	color: $global-bg-color-darklight;
}
