<template>
  <div class="rsidebar" :class="{expanded: store.state.rsidebar.expanded}" v-show="store.state.notmodal.active === false">

    <!--rmenu-->
    <rmenu></rmenu>

    <!--collapse-->
    <collapse></collapse>

    <!--contents-->
    <div class="contents">
      <keep-alive>
        <component v-bind:is="store.state.rsidebar.rmenu.chosen.title"></component>
      </keep-alive>
    </div>

  </div>
</template>

<script type="text/babel">
  export default {
    name: 'rsidebar',
    props: {

    },
    data () {
      return {
        store: "",
        server: server.data
      }
    },
    components: {
      'switcher': require('$app/rsidebar/switcher/switcher.vue'),
      'rmenu': require('$app/rsidebar/rmenu/rmenu.vue'),
      'collapse': require('$app/rsidebar/collapse/collapse.vue'),
      'info': require('$app/rsidebar/info/info.vue'),
      'members': require('$app/rsidebar/members/members.vue'),
      'events': require('$app/rsidebar/events/events.vue'),
      'files': require('$app/rsidebar/files/files.vue'),
      'settings': require('$app/rsidebar/settings/settings.vue'),

    },
    created: function () {

      // 1. Set store
      this.store = this.$store.default;

    },
  }
</script>

<style lang="scss" scoped>

  .rsidebar {
    position: fixed; right: 0; top: 0;
    z-index: 2;
    width: $rsidebar-width;
    padding-right: $rsidebar-width;
    background: $rsidebar-bg;
    height: 100%;
    border-left: $rsidebar-border-width solid #fff;
    transition: all .4s ease;
  }
  .rsidebar.expanded {
    width: $rsidebar-expanded-width;
    border-left: $rsidebar-border-width solid $rsidebar-border-color;
  }

  .rsidebar .contents {
    opacity: 0;
    transition: all .2s ease;
    transition-delay: .2s;
    padding: $contents-chat-bubbles-padding-horizontal;
  }
  .rsidebar.expanded .contents {
    opacity: 1;
  }




</style>
