<template>
  <div class="navigation">

    <!--fixed top panel-->
    <div class="fixed-top-panel">

      <!--search-->
      <userinfo></userinfo>

      <!--menu-->
      <ulmenu></ulmenu>

      <a class="logout" href="/logout">Sing out</a>

    </div>



  </div>
</template>

<script type="text/babel">
  export default {
    name: 'navigation',
    props: {
      server: Object
    },
    data () {
      return {
        store: "",
        ps: ""
      }
    },
    methods: { },
    components: {
        'ulmenu': require('$app/contents/settings/navigation/ulmenu/ulmenu.vue'),
        'userinfo': require('$app/contents/settings/navigation/userinfo/userinfo.vue')
    },
    created: function () {}
  }
</script>

<style lang="scss" scoped>

  .navigation {
    position: fixed; left: $contents-chat-bubbles-left; top: 0;
    width: $contents-chat-bubbles-width;
    background: $contents-chat-bubbles-bg;
    height: 100%;
    border-right: $contents-chat-bubbles-border-width solid $contents-chat-bubbles-border-color;
    padding: $contents-chat-bubbles-padding-vertical $contents-chat-bubbles-padding-horizontal;
  }

  .navigation .fixed-top-panel {
    position: fixed; top: 0;
    background: $contents-chat-bubbles-bg;
    width: $contents-chat-bubbles-width - 2*$contents-chat-bubbles-padding-horizontal;
    z-index: 1;
    padding-bottom: 10px;
  }


  .navigation .logout{
    margin-top: 24px;
    font-weight: bold;
    display: block;
    height: 24px;
    width: 96px;
    background-color: $global-button-bg-color-passive;
    line-height: 24px;
    padding: 0 16px;
    color: $global-button-font-color-passive;
    border-radius: 16px;
  }

  .navigation .logout:hover{
    background-color: $global-button-bg-color-no;
    color: white;
    text-decoration: none;
  }

</style>
