<template src="$app/_shared/newbubble/newbubble.html"></template>
<style src="$app/_shared/newbubble/newbubble.scss" lang="scss" scoped></style>
<script src="$app/_shared/newbubble/newbubble.js"></script>