<template>
  <div class="rsidebar-info">

    <h3>Description</h3>
    <p>{{ store.state.bubbles.chosen.description }}</p>

  </div>
</template>

<script type="text/babel">
  export default {
    name: 'info',
    props: {

    },
    data () {
      return {
        server: server.data,
        store: ""
      }
    },
    components: {},
    created: function () {

      // 1] Set store
      this.store = this.$store.default;

    }
  }
</script>

<style lang="scss" scoped>

  .rsidebar-info {

  }



</style>
