.member {
	position: relative;
	list-style-type: none;
	height: $rsidebar-member-height;
	margin: $rsidebar-member-margin;
	padding: $rsidebar-member-padding-vertical $rsidebar-member-padding-horizontal;
	background: $rsidebar-member-bg;
	color: $rsidebar-member-color;
	border-radius: $rsidebar-member-border-radius;
	cursor: pointer;
	//font-size: 0;
	transition: all .2s ease;
}
.member:hover {
	background: $rsidebar-member-bg-hover;
}

.member .avatar {
	position: absolute; top: $rsidebar-member-padding; left: 0;
	width: $rsidebar-member-avatar-width;
	height: $rsidebar-member-avatar-width;
	line-height: $rsidebar-member-avatar-width;
	//border: 1px solid #ccc;
	text-align: center;
	border-radius: 4px;
	overflow: hidden;
	margin-left: $rsidebar-member-padding-vertical;
}
.member .avatar img {
	vertical-align: middle;
	display: inline-block;
	max-width: $rsidebar-member-avatar-width;
	max-height: $rsidebar-member-avatar-width;
}
.member .member_content {
	min-height: $rsidebar-member-avatar-width;
	padding: 0 $rsidebar-member-avatar-width + $rsidebar-member-padding;
}
.member .member_content .name_and_time {
	height: $rsidebar-member-avatar-width/2 - 5px;
	line-height: $rsidebar-member-avatar-width/2 - 5px;
	margin-bottom: 5px;
}
.member .member_content .role {
	min-height: $rsidebar-member-avatar-width/2;
	color: $rsidebar-member-role-color;
}

.member .remove {
	position: absolute;
	top: 0;
	right: 0;
	height: $rsidebar-member-height;
	line-height: $rsidebar-member-height;
	width: $rsidebar-member-avatar-width + $rsidebar-member-padding;
	text-align: center;
	font-size: 1.4em;
	color: #ccc;
	opacity: 0;
	transition: all .2s ease;
}
.member:hover .remove {
	opacity: 1;
}
.member:hover .remove:hover {
	color: red;
}

.member .remove i {}