<div class="member"
	@click="member_add">

	<!--avatar-->
	<div class="avatar">
		<img :src="member.avatar">
	</div>

	<!--content-->
	<div class="member_content">

		<!--name and time-->
		<div class="name_and_time">
			{{ member.name + ' ' + member.surname }}
		</div>

		<!--message-->
		<div class="role">
			<template v-if="usecase === 'add_member'">
				{{ member.email }}
			</template>
			<template v-if="usecase === 'bubble_members'">
				{{ member.role }}
			</template>
		</div>

	</div>

	<!--remove-->
	<template v-if="usecase === 'bubble_members'">
		<div class="remove" @click="expel_member">
			<i class="mdi mdi-close"></i>
		</div>
	</template>

</div>