<template>
  <div class="chip">

    <!--avatar-->
    <img class="avatar" :src="member.avatar">

    <!--Name Surname-->
    <span>{{ member.name + ' ' + member.surname }}</span>

    <!--close-->
    <i class="mdi mdi-close"
      @click="member_remove"
    ></i>

  </div>
</template>

<script type="text/babel">
  export default {
    name: 'chip',
    props: {
      member: Object
    },
    data () {
      return {
        server: server,
        store: "",
        data: {

				}
      }
    },
    components: {},
    methods: {
      member_remove: function(data){
        this.$emit('member_remove', this.member);
      }
    },
    created: function () {

      // 1. Set store
      this.store = this.$store.default;

    }
  }
</script>

<style lang="scss" scoped>

  .chip {
    display: inline-block;
    position: relative;
    height: 32px;
    margin: 0 5px 5px 0;
    background: #5bc0de;
    padding-left: 37px;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    padding-right: 37px;
    vertical-align: middle;
    line-height: 32px;
    border-radius: 2px;
  }
  .chip .avatar {
    position: absolute; left: 2px; top: 2px;
    display: block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    overflow: hidden;
  }
  .chip .avatar img {
    display: inline-block;
    max-width: 28px;
    max-height: 28px;
  }
  .chip i {
    position: absolute;
    right: 5px;
    top: 0;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    transition: all .2s ease;
  }
  .chip i:hover {
    color: red;
  }


</style>
