<template>
  <div class="navigation">

		<v-container fill-height>

			<v-layout row>

				<v-flex class="logo" xs6>
					<img src="/images/logo1.png">
					<span class="helper"></span>
				</v-flex>

				<v-flex class="icons" xs6>
					<i class="material-icons">add</i>
					<i class="material-icons">date_range</i>

          <v-menu bottom left transition="slide-x-transition">
						<i class="material-icons" slot="activator">menu</i>
            <v-list>
              <v-list-tile v-for="item in items" :key="item.title" @click="">
                <v-list-tile-title>
    							<router-link :to="item.url">{{ item.title }}</router-link>
								</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>

				</v-flex>

			</v-layout>

		</v-container>

  </div>
</template>

<script type="text/babel">
  export default {
    name: 'navigation',
    data () {
      return {
        server: server,
        items: [
					{
						title: 'Chat',
						url: '/app'
					},
					{
						title: 'Calendar',
						url: '/app/calendar'
					},
					{
						title: 'Tree',
						url: '/app/tree'
					},
					{
						title: 'Settings',
						url: '/app/settings'
					},
					{
						title: 'Contacts',
						url: '/app/contacts'
					},
        ]
      }
    },
    components: {}
  }
</script>

<style lang="scss" scoped>

  .navigation {
    background: $sidebar-navigation-bg;
  }
  .navigation .container {
		padding: 0;
		height: $sidebar-navigation-height;
		line-height: $sidebar-navigation-height;
  }

  .navigation .container .logo {
    height: $sidebar-navigation-height;
    padding-left: 16px;
  }
  .navigation .container .logo img {
    vertical-align: middle;
    max-height: 32px;
  }
  .navigation .container .logo .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .navigation .container .icons {
    height: $sidebar-navigation-height;
    text-align: right;
  }
  .navigation .container .icons i {
    display: inline-block;
    color: #fff;
    vertical-align: middle;
    font-size: $sidebar-navigation-icon-size;
    margin-right: $sidebar-navigation-icon-size/2;
  }





</style>
