<template>
    <div class="userinfo">

        <div class="avatar"></div>
        <div class="name">Robert</div>
        <div class="surname">Levandovski</div>

    </div>
</template>

<script type="text/babel">
    export default {
        name: 'userinfo',
        props: {
            server: Object
        },
        data () {
            return {
                store: "",
                ps: ""
            }
        },
        methods: { },
        components: {
        },
        created: function () {}
    }
</script>

<style lang="scss" scoped>

    .userinfo .avatar{
        margin-top: 32px;
        margin-left: 16px;
        width: 80px;
        height: 80px;
        background-color: gray;
        border-radius: 80px;
    }
    .userinfo .name{
        margin-top: 24px;
        margin-left: 16px;
        font-size: 24px;
        color: #D6D6D6;
        font-weight: bold;
    }
    .userinfo .surname{
        margin-top: 8px;
        margin-left: 16px;
        font-size: 24px;
        color: #D6D6D6;
        font-weight: bold;
    }


</style>
