<template>
  <div class="tree">

    tree

  </div>
</template>

<script type="text/babel">
  export default {
    name: 'tree',
    props: {

    },
    data () {
      return {
        store: ""
      }
    },
    methods: {

    },
    components: {

    },
    created: function () {

      // 1. Set store
      this.store = this.$store.default;

    }
  }
</script>

<style lang="scss" scoped>

  .tree {

  }

</style>
