<template>
  <div class="switcher"
    :class="{expanded: store.state.rsidebar.expanded}"
    @click="switcher">

    <i class="mdi mdi-chevron-left"></i>

  </div>
</template>

<script type="text/babel">
  export default {
    name: 'switcher',
    props: {

    },
    data () {
      return {
        store: "",
        server: server.data
      }
    },
    methods: {
      switcher: function(data){
        this.store.commit('rsidebar/switch', data);
        this.store.commit('rsidebar/width', data);
      }
    },
    components: {},
    created: function () {

      // 1. Set store
      this.store = this.$store.default;

    },
  }
</script>

<style lang="scss" scoped>

  .switcher {
    position: fixed; top: 0; right: 0;
    width: $rsidebar-switcher-width;
    height: $rsidebar-switcher-width;
    line-height: $rsidebar-switcher-width;
    text-align: center;
    display: inline-block;
    cursor: pointer;
  }
  .switcher i {
    font-size: 40px;
    display: inline-block;
    vertical-align: middle;
    color: $rsidebar-switcher-icon-color;
    transform: rotate(0deg);
    transition: all .4s ease;
  }
  .switcher i:hover {
    color: $rsidebar-switcher-hover-icon-color;
  }
  .switcher.expanded i {
    transform: rotate(180deg);
  }




</style>
