<template>
  <div class="rsidebar-collapse"
    :class="{expanded: store.state.rsidebar.expanded}"
    @click="collapse">

    <span class="icon-close"></span>

  </div>
</template>

<script type="text/babel">
  export default {
    name: 'switcher',
    props: {

    },
    data () {
      return {
        store: "",
        server: server.data
      }
    },
    methods: {
      collapse: function(data){
        this.store.commit('rsidebar/collapse', data);
        this.store.commit('rsidebar/width', data);
      }
    },
    components: {},
    created: function () {

      // 1. Set store
      this.store = this.$store.default;

    },
  }
</script>

<style lang="scss" scoped>

  .rsidebar-collapse {
    position: absolute;
    top: 18px;
    right: $rsidebar-width + 13px;
    width: $rsidebar-collapse-width;
    height: $rsidebar-collapse-width;
    line-height: $rsidebar-collapse-width;
    text-align: center;
    display: inline-block;
    cursor: pointer;
  }
  .rsidebar-collapse span {
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    color: $rsidebar-collapse-color;
    transform: rotate(0deg);
    opacity: 0;
    transition: all .2s ease;
  }
  .rsidebar-collapse span:hover {
    color: $rsidebar-collapse-color-hover;
  }
  .rsidebar-collapse.expanded span {
    opacity: 1;
  }

</style>
