<template>
  <li class="message">

    <!--avatar-->
    <div class="avatar">
      <img :src="avatar">
    </div>

    <div class="msg_content">

      <!--name and time-->
      <div class="name_and_time">
        {{ message.users.name + ' ' + message.users.surname + ', ' + datetime }}
      </div>

      <!--message-->
      <div class="msg">
        {{ message.message }}
      </div>

    </div>

  </li>
</template>

<script type="text/babel">
  export default {
    name: 'message',
    props: {
      message: ''
    },
    data () {
      return {
        store: "",
        avatar: "",
        datetime: ""
      }
    },
    methods: {},
    components: {

    },
    created: function () {

      // 1. Set store
      this.store = this.$store.default;

      // 2. Get avatar link
      this.avatar = (() => {

        return server.data.google_cloud_domain +
          "/" +
          server.data.google_cloud_storage_bucket +
          "/avatars/" +
          this.message.user_id;

      })();

      // 3. Get human readable message datetime
      this.datetime = (() => {
        return moment(this.message.created_at).locale("ru").calendar().toLowerCase();
      })();

    },
    beforeDestroy: function() {}
  }
</script>

<style lang="scss" scoped>

  .message {
    position: relative;
    list-style-type: none;
    min-height: $contents-chat-chatarea-message-avatar-width + 2*$contents-chat-chatarea-message-padding;
    padding: $contents-chat-chatarea-message-padding;
    margin-bottom: $contents-chat-chatarea-message-padding;
  }
  .message .avatar {
    position: absolute; top: $contents-chat-chatarea-message-padding; left: 0;
    width: $contents-chat-chatarea-message-avatar-width;
    height: $contents-chat-chatarea-message-avatar-width;
    line-height: $contents-chat-chatarea-message-avatar-width;
    //border: 1px solid #ccc;
    text-align: center;
    border-radius: 4px;
    overflow: hidden;
  }
  .message .avatar img {
    border-radius: 4px;
    vertical-align: middle;
    display: inline-block;
    max-width: $contents-chat-chatarea-message-avatar-width;
    max-height: $contents-chat-chatarea-message-avatar-width;
  }
  .message .msg_content {
    min-height: $contents-chat-chatarea-message-avatar-width;
    padding-left: $contents-chat-chatarea-message-avatar-width + $contents-chat-chatarea-message-padding;
  }
  .message .msg_content .name_and_time {
    height: $contents-chat-chatarea-message-avatar-width/2 - 5px;
    line-height: $contents-chat-chatarea-message-avatar-width/2 - 5px;
    margin-bottom: 5px;
    color: $contents-chat-chatarea-message-color-name;
  }
  .message .msg_content .msg {
    min-height: $contents-chat-chatarea-message-avatar-width/2;
    color: $contents-chat-chatarea-message-color-main;
  }

</style>
