<template>
  <div class="search">

    <!--search-->
    <div class="search-field-cont">
      <md-field md-inline md-clearable>
        <label class="label-text">Search</label>
        <md-input
          v-model="searchField"
          @input="search"
        ></md-input>
      </md-field>
    </div>

  </div>
</template>

<script type="text/babel">
  export default {
    name: 'search',
    data () {
      return {
      	store: "",
        server: server,
        searchField: ""
      }
    },
    components: {},
    methods: {
      debounce: function(fn, delay) {
        var timeoutID = null;
        return function () {
          clearTimeout(timeoutID);
          var args = arguments;
          var that = this;
          timeoutID = setTimeout(function () {
            fn.apply(that, args)
          }, delay)
        }
      },
      search: function(data) {

        this.debounce((data) => {

          // 1. Update the bubbles list
          axios.post('/api/core/bubbles/get', {
            search: this.searchField
          })
            .then((response) => {

              // 1] Update bubbles data
              this.store.commit('bubbles/bubbles', response.data);

              // 2] Choose bubble
              this.store.commit('bubbles/chooseById', this.store.state.bubbles.chosen);

            })
            .catch(function (error) {
              toastr.error('<h2>Error #'+error.response.status+' </h2><br>'+error.response.data.message);
              console.log(error);
            });

        }, 500)();

      }
    },
    created: function () {

      // 1] Set store
      this.store = this.$store.default;

    }
  }
</script>

<style lang="scss" scoped>

  .search {
    position: relative;
  }

  .search .search-field-cont {
    padding-left: 0;
  }

  .search .search-field-cont .md-field {
    margin: 0 0 $global-grid-interval*2 0;
  }

  .search .search-field-cont .md-field.md-focused:before{
    background-color: $global-border-color;
    height: 1px;
  }

  .search .search-field-cont .label-text {
    color: $global-font-color-gray;
    font-size: $global-font-size-text;
  }



</style>
