.back {
	position: absolute;
	left: -75px; top: 0;
	background: $contents-chat-chatarea-down-bg;
	box-shadow: 0 0 3px 0 $contents-chat-chatarea-down-color;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 25px;
	text-align: center;
	cursor: pointer;
	transition: all .4s ease;
}
.back.active {
	bottom: $contents-chat-chatarea-enter-height + 16px;
}
.back:hover {
	box-shadow: 0 0 6px 0 $contents-chat-chatarea-down-color;
}
.back i {
	display: inline-block;
	vertical-align: middle;
	font-size: $contents-chat-chatarea-down-fontsize;
	color: lighten($contents-chat-chatarea-down-color, 30%);
	transition: all .4s ease;
}
.back:hover i {
	color: $contents-chat-chatarea-down-color;
}






