
// ----------- //
// ADD VERSION //
// ----------- //
.notmodal-support {
	position: relative;
}

.notmodal-support .add .header {
	position: relative;
	padding-bottom: 15px;
}
.notmodal-support .add .header .title {
	font-size: 24px;
	color: #d6d6d6;
	font-weight: 900;
	padding-bottom: 15px;
}
.notmodal-support .add .header .description {
	font-weight: bold;
}

.notmodal-support .add .buttons {
	padding-top: 15px;
}
.notmodal-support .add .buttons>div {
	display: inline-block;
	width: 200px; height: 48px;
	line-height: 48px;
	text-align: center;
	border-radius: 36px;
  background-color: lighten(#6c6c6c, 10%);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all .2s ease;
}
.notmodal-support .add .buttons>div:hover {
	background-color: #6c6c6c;
}
.notmodal-support .add .buttons .apply {}
.notmodal-support .add .buttons .cancel {}
.notmodal-support .add .content-add {}


// ---------------- //
// SETTINGS VERSION //
// ---------------- //

.notmodal-support .del-button {
	position: absolute; right: 0; top: 0;
}


// -------------- //
// WIDGET VERSION //
// -------------- //

.notmodal-support .widget .zone-header-one {
	position: relative;
}
.notmodal-support .widget .zone-header-one .zone-header {
	position: absolute; left: 0; top: 0;
	width: 50%;
	vertical-align: middle;
	text-align: left;
	color: #ccc;
	cursor: pointer;
	text-decoration: none;
}
.notmodal-support .widget .zone-header-one .zone-header i {
	opacity: 0;
}
.notmodal-support .widget .zone-header-one .zone-header:hover {
	text-decoration: underline;
}
.notmodal-support .widget .zone-header-one .zone-header:hover i {
	opacity: 1;
}
.notmodal-support .widget .zone-header-one .zone-header::first-letter {
  text-transform: uppercase;
}
.notmodal-support .widget .zone-header-one .zone-one {
	display: inline-block;
	width: 50%;
	margin-left: 50%;
	vertical-align: middle;
	text-align: right;
}
.notmodal-support .widget .zone-two {

}


// ------------- //
// COMMON STYLES //
// ------------- //

.notmodal-support .datetime-input-big {
	font-size: 24px;
	border: 0;
	border-bottom: 1px solid #ccc;
	width: 100%;
	padding: 0 0 5px 0;
}








