<div class="notmodal-support">

	<!-- ----------- -->
	<!-- ADD VERSION -->
	<!-- ----------- -->
	<div class="add" v-if="usecase === 'add'">

		<!--title_and_description-->
		<div class="header">

			<!--title-->
			<div class="title">
				<span>Support instance add</span>
			</div>

			<!--description-->
			<div class="description">
				<span>{{ store.state.bubbles.chosen.title }}</span>
			</div>

			<!--back-->
			<back1 target="choose"></back1>

		</div>

		<!--content-->
		<div class="content">

		</div>

		<!--buttons-->
		<div class="buttons">

			<!--Apply-->
			<div class="apply" @click="" style="display: none">
				Add
			</div>

			<!--Cancel-->
			<div class="cancel" @click="" style="display: none">
				Cancel
			</div>

		</div>

	</div>

	<!-- ---------------- -->
	<!-- SETTINGS VERSION -->
	<!-- ---------------- -->
	<div class="add" v-if="usecase === 'settings'">

		<!--title_and_description-->
		<div class="header">

			<!--title-->
			<div class="title">
				<span>Support instance settings</span>
			</div>

			<!--description-->
			<div class="description">
				<span>{{ store.state.bubbles.chosen.title }}</span>
			</div>

			<!--delete button-->
			<div class="del-button">
				<md-button class="md-raised md-accent"
					@click="deleteInstance">Delete</md-button>
			</div>

		</div>

		<!--content-->
		<div class="content">

		</div>

		<!--buttons-->
		<div class="buttons">

			<!--Apply-->
			<div class="apply" @click="" style="display: none">
				Update
			</div>

			<!--Cancel-->
			<div class="cancel" @click="" style="display: none">
				Cancel
			</div>

		</div>

	</div>

	<!-- -------------- -->
	<!-- WIDGET VERSION -->
	<!-- -------------- -->
	<div class="widget" v-if="usecase === 'widget'">

		<!--header and zone #1-->
		<div class="zone-header-one">

			<!--header-->
			<div class="zone-header" @click="openSettingsNotmodal">
				<span>{{ this.instance.extension.name }}</span>
				<i class="mdi mdi-settings"></i>
			</div>

			<!--zone #1-->
			<div class="zone-one" style="display: none">
				<span>zone #1</span>
			</div>

		</div>

		<!--zone #2-->
		<div class="zone-two" style="display: none">
			<span>zone #2</span>
		</div>

	</div>

</div>