<template>
  <div class="enter"
    :style="{right: store.state.rsidebar.width}">

    <!--down-->
    <down></down>

    <!--enter-->

      <div class="enter-input">

        <md-field md-inline class="input">
          <label class="label-text">Message</label>
          <md-input
                  v-model="input"
                  @keyup.enter="postNewMessage"
          ></md-input>
        </md-field>

      </div>

      <div class="buttons-after-enter">
        <span class="icon-search"></span>
      </div>


  </div>
</template>

<script type="text/babel">
  export default {
    name: 'enter',
    props: {

    },
    data () {
      return {
        store: "",
        input: ""
      }
    },
    methods: {
      postNewMessage: function(){

        // 1. If input is empty, return
        if(!this.input) return;

        // 2. Post a new message
        axios.post('/api/core/chat/post', {
          bubble_id: this.store.state.bubbles.chosen.id,
          message: this.input
        })
          .then(function (response) {

            // Scroll down
            setTimeout(function(){
              window.scrollTo(0, document.body.scrollHeight);
            }, 100);

          })
          .catch(function (error) {
            toastr.error('<h2>Error #'+error.response.status+' </h2><br>'+error.response.data.message);
            console.log(error);
          });

        // 3. Clear input
        this.input = "";

      },
      openAddNotmodal: function(){

        // 1. Open notmodal window
        this.store.commit('notmodal/show', {});
        this.store.commit('notmodal/choose', {
          modal: 'add'
        });
        this.store.commit('notmodal/choose_add', {
          modal: 'choose'
        });

        // 2. Update extensions list for the current bubble

          // 1] Set in_progress == true
          this.store.commit('extensions/in_progress', true);

          // 2] Send request
          axios.post('/api/core/extensions/get', {
            bubble_id: this.store.state.bubbles.chosen.id,
          })
            .then((response) => {

              // 1] Set in_progress == false
              this.store.commit('extensions/in_progress', false);

              // 2] Update extensions data
              this.store.commit('extensions/list', response.data);

            })
            .catch((error) => {

              // 1] Notify user about error
              toastr.error('<h2>Error #'+error.response.status+' </h2><br>'+error.response.data.message);
              console.log(error);

              // 2] Set in_progress == false
              this.store.commit('extensions/in_progress', false);

            });

      }
    },
    components: {
      'down': require('$app/contents/chat/chatarea/enter/down/down.vue')
    },
    created: function () {

      // 1. Set store
      this.store = this.$store.default;

    },
    beforeDestroy: function() {}
  }
</script>

<style lang="scss" scoped>

  .enter {
    position: fixed;
    bottom: 0;
    left: $contents-chat-chatarea-enter-left;
    right: $contents-chat-chatarea-enter-right;
    height: $contents-chat-chatarea-enter-height;
    background: $contents-chat-chatarea-enter-bg;
    border-top: $contents-chat-chatarea-enter-border-width solid $contents-chat-chatarea-enter-border-color;
    transition: all .4s ease;
  }


  .enter .enter-input{
    padding: 0 64px 0 16px;
  }

  .enter .enter-input .label-text {
    color: $global-font-color-gray;
    font-size: $global-font-size-text;
  }

  .enter .enter-input .md-field.input{
    margin: -5px 0 0 0;
  }

  .enter .enter-input .md-field.input.md-focused:before{
    background-color: $global-border-color;
    height: 1px;
  }


  .enter .buttons-after-enter{
    background-color: $global-font-color-light;
    position: absolute;
    top: 0;
    right: 0;
    height: $contents-chat-chatarea-enter-height;
    text-align: center;
    width: $contents-chat-chatarea-enter-padding-for-buttons-right;
  }


  .enter span {
    line-height: $contents-chat-chatarea-enter-height;
    font-size: $global-icon-size-standard;
    color: $global-font-color-gray;
    cursor: pointer;
    transition: all .2s ease;
  }

  .enter span:hover {
    color: $global-icon-color-on-light-hover;
  }


  .enter span.icon-color-yes{
    color: $global-icon-color-accent;
  }

  .enter span.icon-color-yes:hover {
    color: lighten($contents-chat-chatarea-enter-icon, 10%);
  }



</style>
