<template>
  <div class="messages">

    <!--messages-->
    <ul>
      <message
        v-for="(message, index) in store.state.bubbles.chosen.messages"
        :message="message"
        :key="message.id"
      ></message>
    </ul>

  </div>
</template>

<script type="text/babel">
  export default {
    name: 'messages',
    props: {

    },
    data () {
      return {
        store: ""
      }
    },
    methods: {
      pushNewMessage: function(id_bubble, message){
        this.store.commit('bubbles/pushMessage', {
          'id_bubble': id_bubble,
          'message': message
        });
      },
    },
    components: {
      'message': require('$app/contents/chat/chatarea/messages/message/message.vue')
    },
    created: function () {

      // 1. Set store
      this.store = this.$store.default;

      // 2. Listen to a messages from the websocket server
      //for(let i=0; i<this.store.state.bubbles.bubbles.length; i++) {
      //  Echo.private('App.Messages.Bubble_'+this.store.state.bubbles.bubbles[i].id)
      //    .listen('BroadcastChatMessage', (e) => {
      //      this.pushNewMessage(e.id_bubble, e.message);
      //    });
      //}

      // 3. Scroll bottom
      $(document).ready(function() {
        setTimeout(function(){
          window.scrollTo(0, document.body.scrollHeight);
        }, 100);
      });

    },
    beforeDestroy: function() {}
  }
</script>

<style lang="scss" scoped>

  .messages {
    padding: $contents-chat-chatarea-messages-padding;
    position: relative;
  }
  .messages ul {
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 0;
    padding-left: 0;
  }

</style>
