<template>
  <div class="calendar">

    <!--bubbles-->
    <transition>
      <keep-alive>
        <stack></stack>
      </keep-alive>
    </transition>

    <!--calendar-->
    <calendararea></calendararea>

  </div>
</template>

<script type="text/babel">
  export default {
    name: 'calendar',
    props: {

    },
    data () {
      return {
        store: ""
      }
    },
    methods: {},
    components: {
        'stack': require('$app/stack/stack.vue'),
        'calendararea': require('$app/contents/calendar/calendararea/calendararea.vue')
    },
    created: function () {

      // 1. Set store
      this.store = this.$store.default;

    },
    beforeDestroy: function() {}
  }
</script>

<style lang="scss" scoped>

  .calendar {
    position: relative;
  }



</style>
