<template>
  <div class="blist">

    <template v-if="store.state.bubbles.bubbles.length">
      <ul>
        <bubble
          v-for="(bubble, index) in store.state.bubbles.bubbles"
          :chosen="store.state.bubbles.chosen"
          :key="bubble.id"
          :data="bubble"
          :index="index"
          @choose="choose"
          usecase="stack">
        </bubble>
      </ul>
    </template>

    <template v-else>
      <p>There are no bubbles...</p>
    </template>

  </div>
</template>

<script type="text/babel">
  export default {
    name: 'blist',
    props: {
      server: Object
    },
    data () {
      return {
        store: "",
        ps: ""
      }
    },
    methods: {
      choose: function(data){

        // start bubble choose mutation
        this.store.commit('bubbles/choose', data);

        // start down button active state choose mutation
        setTimeout(() => {
          this.store.commit('down/setActive', {
            max: window.scrollMaxY || (document.documentElement.scrollHeight - document.documentElement.clientHeight),
            current: Math.floor($(document).scrollTop())
          });
        }, 10);

      }
    },
    components: {
      'bubble':    require('$app/stack/blist/bubble/bubble.vue')
    },
    created: function () {

      // 1] Set store
      this.store = this.$store.default;

      // 2] Set bubbles value
      this.store.commit('bubbles/bubbles', server.data.bubbles);

      // 3] Set default chosen value
      if(!this.store.state.bubbles.bubbles.length) this.store.commit('bubbles/choose', "");
      else this.store.commit('bubbles/choose', this.store.state.bubbles.bubbles[0]);

      // 4] Initiate perfect scrollbar
      $(document).ready( () => {
        this.ps = new PerfectScrollbar(document.querySelector(".bubbles .blist"), {
          wheelSpeed:.515,
          wheelPropagation: false,
          minScrollbarLength: 100,
          maxScrollbarLength: 100
        });
      });

    }
  }
</script>

<style lang="scss" scoped>

  .blist {
    position: absolute; bottom: 0;
    top: $contents-chat-bubbles-newbubble-height + $contents-chat-bubbles-search-height + 10px;

    width: $contents-chat-bubbles-width - 1px;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0 15px;
  }
  .blist>ul {
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: $contents-chat-bubbles-blist-bubble-margin-top;
  }

</style>
