.newbubble {
	position: relative;
}

.newbubble .bubble{
	height: $contents-chat-bubbles-newbubble-height;
}

.newbubble .nb-button {
	cursor: pointer;
	height: $contents-chat-bubbles-newbubble-height - 2px;
	line-height: $contents-chat-bubbles-newbubble-height - 2px;
	text-align: center;
	font-size: 0;
	border-radius: $contents-chat-bubbles-newbubble-border-radius;
	border: $global-border-width solid $global-border-color;
}

.newbubble .nb-button:hover {
	background-color: $global-button-bg-color-yes;
	border: $global-border-width solid $global-button-bg-color-yes;
}


.newbubble .nb-button>span {
	display: inline-block;
	color: $global-icon-color-accent;
	vertical-align: middle;
	font-size: $global-icon-size-standard;
}

.newbubble .nb-button:hover>span {
	color: $global-icon-color-on-dark;
}

.newbubble .nb-button>.button-text {
	display: inline-block;
	font-weight: bold;
	vertical-align: middle;
	color: $global-font-color-gray;
	font-size: $global-font-size-text;
	padding-left: 10px;
	transition: all .2s ease;
}


.newbubble .bubble .nb-input label{
	color: $global-font-color-gray;
	font-size: $global-font-size-text;
	font-weight: bold;
}

.newbubble .nb-input .md-input, .newbubble .nb-input input{
	font-size: $global-font-size-text;
}

.newbubble .bubble .nb-input {
	height: $contents-chat-bubbles-newbubble-height - 2px;
	line-height: $contents-chat-bubbles-newbubble-height - 2px;
}
.newbubble .bubble .nb-input span {
	position: absolute; top: 2px; right: 5px ;
	font-size: $global-font-size-text;
	color: $contents-chat-bubbles-search-color;
	cursor: pointer;
	transition: all .2s ease;
}
.newbubble .bubble .nb-input span:hover {
	color: $contents-chat-bubbles-search-color-hover;
}
.newbubble .bubble .nb-input .field-cont {
	padding-right: $global-font-size-text*2 + 10px;
	padding-left: 10px;
}
.newbubble .bubble .nb-input .field-cont .md-field {
	margin: -4px 0px 12px;
}

.newbubble .cancel-button{
	height: $contents-chat-bubbles-newbubble-height;
}
.newbubble .cancel-button span {
	line-height: $contents-chat-bubbles-newbubble-height;
}

.newbubble .nb-input .md-field.md-focused:before{
	background-color: $global-border-color;
	height: 1px;
}

.newbubble .subbubble .nb-input label{
	color: $global-font-color-gray;
	font-size: $global-font-size-text;
}

.newbubble .subbubble .nb-input {
	height: $contents-chat-bubbles-newbubble-height - 2px;
	line-height: $contents-chat-bubbles-newbubble-height - 2px;
}

.newbubble .subbubble .nb-input .field-cont .md-field {
	margin:0;
	margin-top: -10px;
}