<div class="newbubble">

	<div class="bubble" v-if="usecase == 'bubble'">

	<!--button-->
	<div class="nb-button" v-show="!edit.is_on" @click="switch_edit">
		<span class="icon-add-circle"></span>
		<span class="button-text">Create a bubble</span>
	</div>

	<!--input-->
	<div class="nb-input" v-show="edit.is_on">
		<div class="field-cont">
			<md-field md-inline>

				<template v-if="usecase === 'bubble'">
					<label>Bubble name...</label>
					<md-input
						ref="nb_input_focus"
						v-model="edit.title"
						@keyup.enter="create"
					></md-input>
				</template>

			</md-field>
		</div>
		<div class="cancel-button">
					<span class="icon-close"
						  @click="switch_edit"></span>
		</div>

	</div>

	</div>


	<div class="subbubble" v-if="usecase == 'subbubble'">


		<!--input-->
		<div class="nb-input">
			<div class="field-cont">
				<md-field md-inline>

					<template v-if="usecase === 'subbubble'">
						<label>Add new subbubble</label>
						<md-input
								ref="nb_input_focus"
								v-model="edit.title"
								@keyup.enter="create"
						></md-input>
					</template>

				</md-field>
			</div>

		</div>

	</div>

</div>