<template>
    <div class="ulmenu">

        <div class="item active">Profile</div>
        <div class="item">Settings</div>
        <div class="item">Notification</div>


    </div>
</template>

<script type="text/babel">
    export default {
        name: 'ulmenu',
        props: {
            server: Object
        },
        data () {
            return {
                store: "",
                ps: ""
            }
        },
        methods: { },
        components: {
        },
        created: function () {}
    }
</script>

<style lang="scss" scoped>

.ulmenu{
    margin-top: 40px;
}

.ulmenu .item{
    border-radius: 6px;
    padding: 0 16px;
    height: 40px;
    line-height: 40px;
    color: #CCCCCC;
    cursor: pointer;
    margin-bottom: 4px;
}

.ulmenu .item.active, .ulmenu .item:hover {
    background-color: #FAFAFA;
    color: #6C6C6C;
}

</style>
