<template>
  <div class="tree">

    <!--bubbles-->
    <transition>
      <keep-alive>
        <stack></stack>
      </keep-alive>
    </transition>

    <!--tree-->
    <treearea></treearea>

  </div>
</template>

<script type="text/babel">
  export default {
    name: 'tree',
    props: {

    },
    data () {
      return {
        store: ""
      }
    },
    methods: {},
    components: {
        'stack': require('$app/stack/stack.vue')
    },
    created: function () {

      // 1. Set store
      this.store = this.$store.default;

    },
    beforeDestroy: function() {}
  }
</script>

<style lang="scss" scoped>

  .tree {
    position: relative;
  }



</style>
