<template>
  <div class="chat">

    <!--bubbles  -->
    <transition>
      <keep-alive>
        <bubbles></bubbles>
      </keep-alive>
    </transition>

    <!--chat-->
    <chatarea></chatarea>

  </div>
</template>

<script type="text/babel">
  export default {
    name: 'chat',
    props: {

    },
    data () {
      return {
        store: ""
      }
    },
    methods: {},
    components: {
      'bubbles': require('$app/stack/stack.vue'),
      'chatarea': require('$app/contents/chat/chatarea/chatarea.vue')
    },
    created: function () {

      // 1. Set store
      this.store = this.$store.default;

    },
    beforeDestroy: function() {}
  }
</script>

<style lang="scss" scoped>

  .chat {
    position: relative;
  }



</style>
