<template>
  <div class="lmenu">

    <!--logo -->
    <router-link class="logo"
                 :to="'/app'">
      <img src="/images/logo.svg">
    </router-link>



    <ul>
      <router-link
        class="li"
        :to="(item.type === 'delimiter') ? '' : item.link"
        :class="[item.type, ($route.path === item.link) ? 'chosen' : '']"
        v-for="item in mainmenu"
        :key="item.title"
        @click="">

        <!-- If item type is 'item' -->
        <span v-if="item.type === 'item'" :class="'icon-' + item.icon_mdi"></span>
        <div class="select-underlining"></div>

        <!-- If item type is 'delimiter' -->
        <div class="delimiter" v-if="item.type === 'delimiter'">
          <div></div>
          <div></div>
        </div>

      </router-link>
    </ul>

  </div>
</template>

<script type="text/babel">
  export default {
    name: 'lmenu',
    data () {
      return {
        server: server,
        mainmenu: [
          {
            type: 'item',
            title: 'Chat',
            icon_mdi: 'stack',
            link: '/app'
          },
          {
            type: 'item',
            title: 'Calendar',
            icon_mdi: 'calendar',
            link: '/app/calendar'
          },
          {
          type: 'item',
          title: 'Tree',
          icon_mdi: 'mindmap',
          link: '/app/tree'
          },
          //{
          //    type: 'item',
          //    title: 'Boards',
          //    icon_mdi: 'boards',
          //    link: '/app/boards'
          //},
          //{
          //    type: 'item',
          //    title: 'Gantt',
          //    icon_mdi: 'gantt',
          //    link: '/app/gantt'
          //},
          //{
          //    type: 'item',
          //    title: 'Statistic',
          //    icon_mdi: 'statistic',
          //    link: '/app/statistic'
          //},
          {
            type: 'delimiter'
          },
          {
            type: 'item',
            title: 'Settings',
            icon_mdi: 'settings',
            link: '/app/settings'
          }
        ]
      }
    },
    components: {}
  }
</script>

<style lang="scss" scoped>

  .lmenu ul .li .select-underlining{
    position: absolute;
    top: $lsidebar-width - $lsidebar-width/2 + 16px;
    left: $lsidebar-width - $lsidebar-width/2 - 12px;
    width: 24px;
    height: 4px;
    background-color: transparent;
    border-radius: 6px;
    transition: all .2s ease;
  }

  .lmenu .li.chosen .select-underlining
  {
    background-color: $lsidebar-mainmenu-icon-chosen-color;
  }

  .lmenu ul {
    padding: 0;
  }
  .lmenu ul .li {
    position: relative;
    margin-bottom: 6px;
    list-style: none;
    width: $lsidebar-width;
    height: $lsidebar-width;
    line-height: $lsidebar-width;
    text-align: center;
    display: list-item;
    cursor: pointer;
  }

  .lmenu ul .li span {
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    color: $lsidebar-mainmenu-icon-color;
    transition: all .2s ease;
  }
  .lmenu ul .li:hover span {
    color: $lsidebar-mainmenu-icon-hover-color;
  }
  .lmenu ul .li.chosen span {
    color: $lsidebar-mainmenu-icon-chosen-color;
  }
  .lmenu ul .li.chosen:hover span {
    color: darken($lsidebar-mainmenu-icon-chosen-color, 10%);
  }

  .lmenu ul .li.delimiter {
    height: $lsidebar-width/3;
    display: inline-block;
    font-size: 0;
  }
  .lmenu ul .li .delimiter>div:nth-child(1) {
    height: $lsidebar-width/6 - $lsidebar-border-width;
    border-bottom: $lsidebar-border-width solid $lsidebar-border-color;
  }
  .lmenu ul .li .delimiter>div:nth-child(2) {
    height: $lsidebar-width/6;
  }

  .lsidebar .logo {
    width: $lsidebar-width;
    height: $lsidebar-width;
    line-height: $lsidebar-width;
    text-align: center;
    display: list-item;
    cursor: pointer;
  //border-bottom: $lsidebar-border-width solid $lsidebar-border-color;
  }
  .lsidebar .logo img {
    display: inline-block;
    vertical-align: middle;
    width: $lsidebar-img-width;
    transition: all .5s ease;
  }
  .lsidebar .logo:hover img {
    width: $lsidebar-img-width + 20px;
  }




</style>
