<template>
  <div class="settings">

    <!--navigation-->
    <navigation></navigation>

    <!--settingsarea-->
    <profile></profile>

  </div>
</template>

<script type="text/babel">
  export default {
    name: 'settings',
    props: {

    },
    data () {
      return {
        store: ""
      }
    },
    methods: {},
    components: {
        'navigation': require('$app/contents/settings/navigation/navigation.vue'),
        'profile': require('$app/contents/settings/profile/profile.vue')
    },
    created: function () {

      // 1. Set store
      this.store = this.$store.default;

    },
    beforeDestroy: function() {}
  }
</script>

<style lang="scss" scoped>

  .settings {
    position: relative;
  }



</style>
