<template>
	<div class="extensions-add">

		<!--content-->
    <div class="extensions-add-content">
      <component
      	v-bind:is="store.state.notmodal.modals.add.chosen"
      	:usecase="'add'">
			</component>
    </div>

	</div>
</template>

<script type="text/babel">
	export default {
		name: 'Add',
		props: {
			usecase: {
				default: "add"   // add, settings, widget
			}
		},
		data () {
			return {
				store: ""
			}
		},
		methods: {
			hide: function(data){
				this.store.commit('notmodal/hide', {})
			},
			choose: function(data){
				this.store.commit('notmodal/choose', {
					modal: data
				})
			}
		},
    computed: {
    	is_no_one_found: function(){
    	  return !this.store.state.extensions.list.length && this.store.state.extensions.in_progress === false;
    	},
    	is_spinner_visible: function(){
    	  return this.store.state.extensions.in_progress === true;
    	}
		},
		created: function(e) {

			// 1. Set store
			this.store = this.$store.default;

		},
		components: {
			'choose': require('$app/notmodal/add/choose/choose.vue'),
			'deadline': require('$app/notmodal/add/choose/deadline/deadline.vue'),
			'support': require('$app/notmodal/add/choose/support/support.vue'),
		}
	}
</script>

<style lang="scss" scoped>

	.extensions-add {

	}

</style>
