<template>
  <div class="breadcrumbs"
    :style="{'font-size': getFontSize() + 'em', 'line-height': getFontSize() + 'em'}">

    <div class="cn">
      <div class="inner"
        v-if="store.state.bubbles.chosen && store.state.bubbles.chosen.breadcrumbs.length">

        <template
          v-for="(breadcrumb, index) in store.state.bubbles.chosen.breadcrumbs"
          :index="index">

          <!--a last element-->
          <template v-if="index == store.state.bubbles.chosen.breadcrumbs.length - 1">
            <span class="current_bubble">{{ breadcrumb.title }}</span>
          </template>

          <!--not a last element-->
          <template v-else>
            <span>{{ breadcrumb.title }}</span>
            <span class="delim"></span>
          </template>

        </template>

      </div>
    </div>

  </div>
</template>

<script type="text/babel">
  export default {
    name: 'breadcrumbs',
    props: {

    },
    data () {
      return {
        store: "",
        scale: {
          base_symbols: 200,
          base_string: 3,
          base_font_size: 1.2,
          symbols: 0,
          symbols_in_str: 85
        }
      }
    },
    methods: {
      getFontSize: function(){
        if(this.scale.symbols <= this.scale.base_symbols)
          return this.scale.base_font_size;

        let cur_strings = this.scale.symbols/this.scale.symbols_in_str;
        let coef = cur_strings/this.scale.base_string;
        console.log(coef);
        return this.scale.base_font_size * (this.scale.base_symbols / this.scale.symbols) * coef;
      }
    },
    computed: {
      watchSymbols: function() {
        if(this.store.state.bubbles.chosen && this.store.state.bubbles.chosen.breadcrumbs)
          this.scale.symbols = this.store.state.bubbles.chosen.breadcrumbs.length;
      },
    },
    components: {

    },

    created: function () {

      // 1. Set store
      this.store = this.$store.default;

      // 2. Set scale symbols
      this.scale.symbols = (() => {

        // Count symbols
        let symbols = 0;
        if(this.store.state.bubbles.chosen && this.store.state.bubbles.chosen.breadcrumbs) {
					for (let i = 0; i < this.store.state.bubbles.chosen.breadcrumbs.length; i++) {
						symbols = symbols + this.store.state.bubbles.chosen.breadcrumbs[i].title.length + 3;
					}
					symbols = symbols - 3;
				}

        // Return
        return symbols;

      })();

    },
    beforeDestroy: function() {}
  }
</script>

<style lang="scss" scoped>

  .breadcrumbs {
    position: relative;
    font-size: 1.2em;
    line-height: 1.2em;
    color: #ccc;
  }
  .breadcrumbs .cn {
    position: relative;
    width: 100%;
    height: $contents-chat-chatarea-hat-height;
  }

  .breadcrumbs .cn .inner {
    position: absolute;
    width: 100%;
    max-height: $contents-chat-chatarea-hat-height;
    top: 53%; left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .breadcrumbs .cn .inner>span {
    vertical-align: middle;
    font-size: $global-font-size-text;
  }
  .breadcrumbs .cn .inner .delim {
    display: inline-block;
    margin: 0 6px 0 0px;
    padding: 0;
    width: 4px;
    height: 4px;
    background-color: #ccc;
    border-radius: 4px;
  }
  .breadcrumbs .cn .inner .current_bubble {
    color: $global-font-color-dark;
    font-weight: bold;
  }


  //.breadcrumbs {
  //  height: $contents-chat-chatarea-hat-height;
  //  line-height: $contents-chat-chatarea-hat-height;
  //  font-size: 1.2em;
  //  color: #7a7a7a;
  //}
  //.breadcrumbs>span {
  //  vertical-align: middle;
  //}
  //.breadcrumbs .delim {
  //  color: #ccc;
  //  font-size: 1.2em;
  //}
  //.breadcrumbs .current_bubble {
  //  font-weight: bold;
  //}




</style>
