<template>
  <div class="chatarea">

    <!--hat-->
    <hat></hat>

    <!--messages-->
    <messages></messages>

    <!--enter-->
    <enter></enter>

  </div>
</template>

<script type="text/babel">
  export default {
    name: 'chatarea',
    props: {

    },
    data () {
      return {
        store: ""
      }
    },
    methods: {},
    components: {
      'hat': require('$app/contents/chat/chatarea/hat/hat.vue'),
      'messages': require('$app/contents/chat/chatarea/messages/messages.vue'),
      'enter': require('$app/contents/chat/chatarea/enter/enter.vue')
    },
    created: function () {

      // 1. Set store
      this.store = this.$store.default;

    },
    beforeDestroy: function() {

      // 1. Leave all websocket server channels related to bubbles
      // for(let i=0; i<this.store.state.bubbles.bubbles.length; i++) {
      //   Echo.leave('App.Bubble.Chat.'+this.store.state.bubbles.bubbles[i].id);
      // }

    }
  }
</script>

<style lang="scss" scoped>

  .chatarea {
    position: relative;
    //background: #eee;
    margin-left: $contents-chat-bubbles-width;
    padding-left: $contents-chat-chatarea-padding-left;
    padding-right: $contents-chat-chatarea-padding-right;
  }

</style>
