<template>
	<div class="event_chosen">
		<!--header-->
    <div class="header">
       <div class="event-show-modal" >
            <h2 style="margin-bottom:0px;">{{ event.title }}</h2>
            <p class='event-show-modal-date'> <b> {{ event.date }} </b> </p>
        </div>
    </div>


    <div class="event-show-time-block">

            <datetime
                placeholder="start"
                v-model="startCalendar"
                type="datetime"
                input-class="datetime-input-medium"
                input-format="DD-MM-YYYY HH:mm"
                :format="{ month: 'long', day: 'numeric',hour: 'numeric', minute: 'numeric' }"
                @input="update"
                >
            </datetime>

    </div>
    <div class="event-show-time-block-slash">-</div>
    <div class="event-show-time-block">
            <datetime
				placeholder="end"
				v-model="endCalendar"
				type="datetime"
				input-class="datetime-input-medium"
				input-format="DD-MM-YYYY HH:mm"
				:format="{  month: 'long', day: 'numeric',hour: 'numeric', minute: 'numeric' }"
				@input="update"
				>
             </datetime>
    </div>

    <div class='modal-footer-event-show'>
        <button @click="applyChanges" class="logout-event-show grey-event-show">Apply</button>
        <button @click="deleteEvent" class="logout-event-show pink-event-show">Delete</button>
    </div>
	
	</div>
</template>

<script type="text/babel">
  export default {
    name: 'event_chosen',
    data () {
      return {
        server: server,
        store: "",
        event:{
            id: '',
            start: '',
            end: '',
            title: '',
            bubble_id:'',
            date:'',
            startDate:'',
            endDate:'',
            startCalendar:''
        },
        startCalendar:'',
        endCalendar:''
      }
    },
    components: {
      'close': require('$app/modal/close/close.vue'),
    },
    methods: {
	
	  // Hide Modal
      hide: function(data){
        this.store.commit('notmodal/hide', {})
      },
	  
	  // Focus modal
      focus: function(data) {
        setTimeout(() => {
          let el = document.querySelector(".md-dialog .show_event .nb-input input");
          if(el)
            el.focus();
        }, 250);
      },
	  
	  // Apply changes
      applyChanges(){
		// Assigning the prototype
		let evt = {
			 id : this.event.id,
			 start : moment(this.startCalendar, 'YYYY-MM-DDTHH:mm:ssZ'),
			 end : moment(this.endCalendar, 'YYYY-MM-DDTHH:mm:ssZ'),
			 bubble_id: this.event.bubble_id,
			 title: this.event.title,
			 to_be_edited:true
		}
		// Hiding modal
		this.store.commit('notmodal/choose', {
			  modal: 'add'
		});
		this.store.commit('notmodal/hide', {});
		// start event choose mutation
		this.store.commit('events/choose', evt);
      },
	  
	  // Deleting event
      deleteEvent(){
		 // Assigning the prototype
         let evt = {
			 id : this.event.id,
			 start : moment(this.startCalendar, 'YYYY-MM-DDTHH:mm:ssZ'),
			 end : moment(this.endCalendar, 'YYYY-MM-DDTHH:mm:ssZ'),
			 bubble_id: this.event.bubble_id,
			 title: this.event.title,
			 to_be_deleted:true
		 }
		 // Hiding modal
		 this.store.commit('notmodal/choose', {
			  modal: 'add'
			});
         this.store.commit('notmodal/hide', {});
         // start bubble choose mutation
         this.store.commit('events/choose', evt);
      },
	  
      update: function(){
			// Updating the date in modal when is changed in widget
            this.event.date = moment(this.startCalendar, 'YYYY-MM-DDTHH:mm:ssZ').format('DD MMM,dddd');
      }
    },
	created: function () {
	
	  // 1. Set store
      this.store = this.$store.default;

      // 2. Set focus to add_member_input
      this.focus();
	  
	  // 3. Assigning event prototype
	  
      this.event = this.store.getters['events/getChosen'];
      this.event.start = this.store.getters['events/getChosen'].start;
      this.event.end = this.store.getters['events/getChosen'].end;
      this.event.title = this.store.getters['events/getChosen'].title;
      this.event.bubble_id = this.store.getters['events/getChosen'].bubble_id;
      this.event.id = this.store.getters['events/getChosen'].id;
      this.event.date = this.event.start.format('DD MMM,dddd');
      this.event.startDate = this.event.start.format('HH:mm');
      this.event.endDate = this.event.end.format('HH:mm');
	  
      this.startCalendar = this.store.getters['events/getChosen'].start.toISOString();
      this.endCalendar = this.store.getters['events/getChosen'].start.add(2, 'h').toISOString();

      if(this.event.end){
		this.endCalendar = this.event.end.toISOString();
      }
    },
    computed: {
			datetime: {

				get: function () {

					return this.event.startCalendar;

				},

				set: function (deadline_at) {

					this.store.commit('extension_deadline/setDatetime', { deadline_at: deadline_at });

				}

			},
			
	},
	
  }
</script>

<style lang="scss" scoped>

  .add_member {
    height: 100%;
  }
  .add_member .header {
    min-height: 50px;
    max-height: 68px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 50px 10px 24px;
    font-size: 20px;
    line-height: 1.2;
  }
  .add_member ul {
    margin-left: 0;
    padding: 0 24px;
  }
  .add_member .no-one {
    padding: 0 24px;
  }
  .add_member .found {
    width: 100%;
    position: relative;
    max-height: 203px;
  }

  .add_member .md-dialog-actions {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 52px;
    width: 100%;
    background: #fff;
    border-top: 1px solid #eee;
  }
  .add_member .md-dialog-content {
    padding-bottom: 52px;
  }

  .nb-input {
    border-radius: 4px;
    border: 1px solid #00f;
    margin: 10px 24px;
    padding: 10px;
  }
  .nb-input input {
    height: 32px;
    border: 0;
    outline: 0;
    font-size: 1.2em;
    width: 100%;
  }
  .md-field {
    margin: 4px 0 0;
  }
  .md-field label {
    padding: 0 0 !important;
    color: darken(#fafafa, 20%) !important;
  }
  .md-field input {
    padding: 0 0 !important;
    background: #fafafa;
  }
  .md-chip {
    margin-bottom: 5px;
  }

  .event-show-modal{
      color: #d6d6d6;
      margin-left: 20px;
      margin-top: 30px;
      margin-bottom:5px;
      font-size: 25px;
  }

  .event-show-modal-date{
        font-size:14px;
        color:black;
  }

  .event-show-time{
        margin-left: 20px;
        margin-top: 60px;
        font-size: 35px;
        color: #6c6c6c;
        cursor:pointer;
  }

  .event-show-time-block{
        display:inline-block;
        margin-left: 20px;
        margin-top: 60px;
        font-size: 35px;
        color: #6c6c6c;
        max-width:190px;
  }
  .event-show-time-block-slash{
        display:inline-block;
        margin-left: 40px;
        margin-top: 60px;
        font-size: 35px;
        color: #6c6c6c;
  }
  .modal-footer-event-show{
        position: fixed;
        bottom: 60px;
  }

  .logout-event-show{
        display:inline-block !important;
        margin-left: 24px;
        font-weight: bold;
        height: 41px;
        width: 201px;
        line-height: 24px;
        padding: 0 16px;
        color: #898989;
        border-radius: 16px;
        curson:pointer !important;
        border-radius: 31px;
        border: none;
  }

  .grey-event-show{
        background-color: #6c6c6c;
        color:#ffffff;
  }

  .pink-event-show{
        background-color: #ee255b;
        color:#ffffff;
  }

</style>