<template src="$app/_shared/extensions/deadline/deadline.html"></template>
<style src="$app/_shared/extensions/deadline/deadline.scss" lang="scss" scoped></style>
<script src="$app/_shared/extensions/deadline/deadline.js"></script>