<template>
  <div class="rsidebar-settings">

    <!--header-->
    <div class="header">
      <span>Settings</span>
    </div>

    Покинуть бабл

  </div>
</template>

<script type="text/babel">
  export default {
    name: 'events',
    props: {

    },
    data () {
      return {
        server: server.data,
        store: ""
      }
    },
    components: {},
    created: function () {

      // 1] Set store
      this.store = this.$store.default;

    }
  }
</script>

<style lang="scss" scoped>

  .rsidebar-settings .header {
    font-weight: bold;
    font-size: 14px;
    margin-top: 20px - $contents-chat-bubbles-padding-horizontal;
    padding-bottom: 20px;
    color: $global-font-color-dark;
  }




</style>
