<template>
  <div class="sidebar">
    <navigation></navigation>

    <div class="sidebar-content">
      <search></search>
      <bubbles :server="server"></bubbles>
    </div>

  </div>
</template>

<script type="text/babel">
  export default {
    name: 'sidebar',
    props: {

    },
    data () {
      return {
        server: server.data
      }
    },
    components: {
      'navigation': require('$app/sidebar/navigation/navigation.vue'),
      'search':     require('$app/sidebar/search/search.vue'),
      'bubbles':    require('$app/sidebar/bubbles/bubbles.vue')
    }
  }
</script>

<style lang="scss" scoped>

  .sidebar {
    position: fixed; left: 0; top: 0;
    width: $sidebar-width;
    background: $sidebar-bg;
    height: 100%;
    border-right: $sidebar-border-width solid $sidebar-border-color;
  }
  .sidebar .sidebar-content {
    padding: $sidebar-padding;
  }



</style>
