<template>
  <div class="rsidebar" :class="{expanded: store.state.rsidebar.expanded}">

    <!--switcher-->
    <switcher></switcher>

  </div>
</template>

<script type="text/babel">
  export default {
    name: 'rsidebar',
    props: {

    },
    data () {
      return {
        store: "",
        server: server.data
      }
    },
    components: {
      'switcher': require('$app/rsidebar/switcher/switcher.vue'),
    },
    created: function () {

      // 1. Set store
      this.store = this.$store.default;

    },
  }
</script>

<style lang="scss" scoped>

  .rsidebar {
    position: fixed; right: 0; top: 0;
    width: $rsidebar-width;
    background: $rsidebar-bg;
    height: 100%;
    border-left: $rsidebar-border-width solid $rsidebar-border-color;
    transition: all .4s ease;
  }
  .rsidebar.expanded {
    width: $rsidebar-expanded-width;
  }




</style>
