<template>
  <div class="modal-close"
    @click="close">

    <i class="mdi mdi-close"></i>

  </div>
</template>

<script type="text/babel">
  export default {
    name: 'close',
    props: {

    },
    data () {
      return {
        store: "",
        server: server.data
      }
    },
    methods: {
      close: function(data){
        this.store.commit('modal/hide', {});
      }
    },
    components: {},
    created: function () {

      // 1. Set store
      this.store = this.$store.default;

    },
  }
</script>

<style lang="scss" scoped>

  .modal-close {
    position: absolute; top: 10px; right: 10px;
    width: $modal-close-width;
    height: $modal-close-width;
    line-height: $modal-close-width;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    z-index: 1;
  }
  .modal-close i {
    font-size: $modal-close-width;
    display: inline-block;
    vertical-align: middle;
    color: $modal-close-color;
    transform: rotate(0deg);
    opacity: 1;
    transition: all .2s ease;
  }
  .modal-close i:hover {
    color: $modal-close-color-hover;
  }

</style>
