<template>
  <div class="rsidebar-members">

    <!--header-->
    <div class="head">
      <span>Members</span>
    </div>

    <!--add-->
    <div class="add-button" @click="open_add_member_modal">
      <span class="icon-add-circle"></span>
    </div>

    <!--members list-->
    <ul>
      <member
        usecase="bubble_members"
        v-for="(member, index) in store.state.bubbles.chosen.members"
        :key="member.id"
        :member="member"
        :index="index">
      </member>
    </ul>

  </div>
</template>

<script type="text/babel">
  export default {
    name: 'members',
    props: {

    },
    data () {
      return {
        server: server.data,
        store: ""
      }
    },
    components: {
      'member': require('$app/rsidebar/members/member/member.vue')
    },
    methods: {
      open_add_member_modal: function(data){

        this.store.commit('modal/choose', {
          "modal": "add_member",
          "meta": {
            "test": 123
          }
        });
        this.store.commit('modal/show', {});

			},
    },
    created: function () {

      // 1] Set store
      this.store = this.$store.default;

    }
  }
</script>

<style lang="scss" scoped>

  .rsidebar-members {

  }
  .rsidebar-members .head {
    font-weight: bold;
    font-size: 14px;
    margin-top: 20px - $contents-chat-bubbles-padding-horizontal;
    padding-bottom: 20px;
    color: $global-font-color-dark;
  }

  .rsidebar-members>ul {
    margin-left: 0;
    padding-left: 0;
  }


  .rsidebar-members .add-button {
    width: $rsidebar-members-addbutton-height;
    height: $rsidebar-members-addbutton-height;
    line-height: $rsidebar-members-addbutton-height;
    background: white;
    border: 1px;
    border-radius: 6px;
    border: $global-border-width solid $global-border-color;
    text-align: center;
    cursor: pointer;
    font-size: 0;
  }
  .rsidebar-members .add-button:hover {
    background-color: $global-button-bg-color-yes;
    border: $global-border-width solid $global-button-bg-color-yes;
  }

  .rsidebar-members .add-button>span {
    display: inline-block;
    color: $global-icon-color-accent;
    line-height: $rsidebar-members-addbutton-height;
    font-size: $global-icon-size-standard;
  }

  .rsidebar-members .add-button:hover>span {
    color: $global-icon-color-on-dark;
  }

</style>
