<template>
  <div class="add_member" @click="focus">

    <!--close-->
    <close></close>

    <!--header-->
    <div class="header">
      Invite new members to the bubble "{{ store.state.bubbles.chosen.title }}"
    </div>

    <!--input-->
    <div class="nb-input">
      <chip class="md-primary" md-deletable
        v-for="(member, index) in data.search.chosen"
        :member="member"
        :key="member.id"
        :index="index"
        @member_remove="member_remove">
      </chip>
      <input type="text"
        ref="add_member_input"
        placeholder="Search by name/surname/email"
        v-model="data.search.input"
        @input="search"
      >
    </div>

    <!--found-->
    <div class="found">

      <div class="no-one" v-if="data.search.is_no_one_found">
        <p>No one found</p>
      </div>

      <div v-else-if="is_spinner_visible" style="text-align: center">
        <md-progress-spinner :md-diameter="30" :md-stroke="3" md-mode="indeterminate"></md-progress-spinner>
      </div>

      <template v-else>
        <ul>
          <member
            usecase="add_member"
            v-for="(member, index) in data.search.found"
            :key="member.id"
            :index="index"
            :member="member"
            @member_add="member_add">
          </member>
        </ul>
      </template>

    </div>

    <!--actions-->
    <md-dialog-actions>
      <md-button class="md-raised md-accent"
        @click="invite"
        :disabled="is_invite_button_disabled"
      >Invite</md-button>
      <md-button class="md-primary" @click="hide">Cancel</md-button>
    </md-dialog-actions>

  </div>
</template>

<script type="text/babel">
  export default {
    name: 'add_member',
    data () {
      return {
        server: server,
        store: "",
        data: {
					search: {
						input: "",
						chosen: [],
						found: [],
						last_found_length: 0,
						search_counter: 0,
						in_progress: false,
						is_no_one_found: false
					},
					ps: ""
				}
      }
    },
    components: {
      'close': require('$app/modal/close/close.vue'),
      'member': require('$app/modal/add_member/member/member.vue'),
      'chip': require('$app/modal/add_member/chip/chip.vue'),
    },
    methods: {
      hide: function(data){
        this.store.commit('modal/hide', {})
      },
      search: _.debounce(function(data) {

        // 1. If data.search.input lenght < 1, clear found and return
        if(this.data.search.input.length < 1) {
					this.data.search.found = [];
					this.data.search.is_no_one_found = false;
					return;
				}

        // 2. Get found from server
        this.data.search.in_progress = true;
        axios.post('/api/core/users/search', {
          bubble_id: this.store.state.bubbles.chosen.id,
          search: this.data.search.input
        })
          .then((response) => {

            // 1. Set found
            this.data.search.found = response.data;

            // 2. Update ps
            //this.data.ps.update();

            // 3. Set in_progress = false
            this.data.search.in_progress = false;

            // 4. Set last_found_length and search_counter
            this.data.search.last_found_length = response.data.length;
            this.data.search.search_counter = this.data.search.search_counter + 1;

            // 5. Check if we found anyone
            this.data.search.is_no_one_found = this.data.search.input.length > 0 && !this.data.search.found.length;

          })
          .catch((error) => {

            // 1. Send to the console and to the toastr
            toastr.error('<h2>Error #'+error.response.status+' </h2><br>'+error.response.data.message);
            console.log(error);

            // 2. Set last_found_length and search_counter
            this.data.search.last_found_length = response.data.length;
            this.data.search.search_counter = this.data.search.search_counter + 1;

          });

      }, 500),
      member_add: function(data) {

        // 1. Check if data in data.search.chosen
        let is_in_chosen = (() => {
          for(let i=0; i<this.data.search.chosen.length; i++) {
            if(this.data.search.chosen[i].id == data.id)
              return true;
          }
          return false;
        })();
        if(is_in_chosen) {
          toastr.info('This member has been already chosen!');
          return;
        }

        // 2. Add data to data.search.chosen
        this.data.search.chosen.push(data);

        // 3. Set focus to add_member_input
        this.focus();

      },
      member_remove: function(data) {

        // 1. Remove data from data.search.chosen
        this.data.search.chosen = this.data.search.chosen.filter((item) => {
          return item.id != data.id;
        });

        // 2. Set focus to add_member_input
        this.focus();

      },
      focus: function(data) {
        setTimeout(() => {
          let el = document.querySelector(".md-dialog .add_member .nb-input input");
          if(el)
            el.focus();
        }, 250);
      },
      invite: function(data){

        // 1. Notify about request start
        toastr.info("Please, wait.", "Inviting new members...", {timeOut: 99999999});

        // 2. Send a new request
        axios.post('/api/core/bubbles/invite', {
          bubble_id: this.store.state.bubbles.chosen.id,
          chosen: this.data.search.chosen
        })
          .then((response) => {

            // 1. Close all toasts
            toastr.clear();

            // 2. Notify about success
            toastr.success("The members have been successfully invited!");

            // 3. Hide modal window
            this.hide();

            // 4. Add invited members to the bubble's members
            for(let i = 0; i<response.data.length; i++) {
              this.store.commit('bubbles/pushMember', {
                'member': response.data[i]
              });
            }

          })
          .catch((error) => {

            // 1. Close all toasts
            toastr.clear();

            // 2. Send to the console and to the toastr
            toastr.error('<h2>Error #'+error.response.status+' </h2><br>'+error.response.data.message);
            console.log(error);

            // 3. Set focus to add_member_input
            this.focus();

          });

      },
    },
    computed: {
    	is_invite_button_disabled: function(){
    	  return this.data.search.chosen.length === 0;
    	},
    	is_no_one_found: function(){
    	  if(this.data.search.input.length === 0) this.data.search.last_found_length = 0;
    	  return this.data.search.last_found_length !== 0 && this.data.search.input.length > 0 && !this.data.search.found.length && this.data.search.in_progress === false;
    	},
    	is_spinner_visible: function(){
    	  return this.data.search.in_progress === true;
    	}
		},
    created: function () {

      // 1. Set store
      this.store = this.$store.default;

      // 2. Set focus to add_member_input
      this.focus();

      // 3. Initiate perfect scrollbar
      $(document).ready( () => {
        this.data.ps = new PerfectScrollbar(document.querySelector(".md-dialog .add_member .found"), {
          wheelSpeed:.515,
          wheelPropagation: false,
          minScrollbarLength: 100,
          maxScrollbarLength: 100
        });
      });

    }
  }
</script>

<style lang="scss" scoped>

  .add_member {
    height: 100%;
  }
  .add_member .header {
    min-height: 50px;
    max-height: 68px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 50px 10px 24px;
    font-size: 20px;
    line-height: 1.2;
  }
  .add_member ul {
    margin-left: 0;
    padding: 0 24px;
  }
  .add_member .no-one {
    padding: 0 24px;
  }
  .add_member .found {
    width: 100%;
    position: relative;
    max-height: 203px;
  }

  .add_member .md-dialog-actions {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 52px;
    width: 100%;
    background: #fff;
    border-top: 1px solid #eee;
  }
  .add_member .md-dialog-content {
    padding-bottom: 52px;
  }

  .nb-input {
    border-radius: 4px;
    border: 1px solid #00f;
    margin: 10px 24px;
    padding: 10px;
  }
  .nb-input input {
    height: 32px;
    border: 0;
    outline: 0;
    font-size: 1.2em;
    width: 100%;
  }
  .md-field {
    margin: 4px 0 0;
  }
  .md-field label {
    padding: 0 0 !important;
    color: darken(#fafafa, 20%) !important;
  }
  .md-field input {
    padding: 0 0 !important;
    background: #fafafa;
  }
  .md-chip {
    margin-bottom: 5px;
  }


</style>
