<template>
  <li class="file"
  	title="download file"
  	@click="download($event, data)">

		<div class="date_and_creator">
			{{ data.created_at }}
		</div>

		<div class="path">
			{{ data.real_name }}
		</div>

  </li>
</template>

<script type="text/babel">
  export default {
    name: 'file',
    props: {
			data: Object,
			index: Number
		},
    data () {
      return {
				store: ""
      }
    },
    methods: {
      download: function(event, data){

				axios.post('/api/files/download_from_bubble/' + this.store.state.bubbles.chosen.id, data, {
					responseType: 'blob', // important
				})
					.then(function (response) {
						const url = window.URL.createObjectURL(new Blob([response.data]));
						const link = document.createElement('a');
						link.href = url;
						link.setAttribute('download', data.real_name);
						document.body.appendChild(link);
						link.click();
						toastr.success('Скачивание файла началось');
					})
					.catch(function (error) {
						toastr.error('<h2>Error #'+error.response.status+' </h2><br>'+error.response.data.message);
					});

      }
    },
    components: {},
    created: function () {

      // 1. Set store
      this.store = this.$store.default;

    },
  }
</script>

<style lang="scss" scoped>

  .file {
    position: relative;
    list-style-type: none;
    cursor: pointer;
    transition: all .2s ease;
    padding: 5px 10px;
    background: $rsidebar-bg;
  }
  .file:hover {
		background: #fff;
	}



</style>