<template>
  <div class="rsidebar-info">

    <!--header-->
    <div class="header">
      <span>Information</span>
    </div>

    <!--extensions-->
    <extensions></extensions>

    <!--bubbles-->
    <bubbles></bubbles>

  </div>
</template>

<script type="text/babel">
    export default {
        name: 'info',
        props: {

        },
        data () {
            return {
                server: server.data,
                store: ""
            }
        },
        components: {
            'extensions': require('$app/rsidebar/info/extensions/extensions.vue'),
            'bubbles': require('$app/rsidebar/info/bubbles/bubbles.vue'),
        },
        created: function () {

            // 1] Set store
            this.store = this.$store.default;

        }
    }
</script>

<style lang="scss" scoped>

  .rsidebar-info .header {
    font-weight: bold;
    font-size: 14px;
    margin-top: 20px - $contents-chat-bubbles-padding-horizontal;
    padding-bottom: 20px;
    color: $global-font-color-dark;
  }




</style>
