<template>
  <div class="rsidebar-events">

    <!--header-->
    <div class="head">
      <span>Time management</span>
    </div>

    <div class="planned">

      <!--header-->
      <div class="head-aria">
        <div class="header">Planned dates</div>
        <div class="right-aria">
          6h
        </div>
      </div>

      <div  class="worklist">
        <ul>
          <li>2018-02-11 12:00-14:00<div class="time">2h</div></li>
          <li>2018-04-11 18:00-22:00<div class="time">4h</div></li>
        </ul>
      </div>


    </div>


    <div class="done">


      <!--header-->
      <div class="head-aria">
        <div class="header">Done dates</div>
        <div class="right-aria">
          6h
        </div>
      </div>

      <div class="worklist">
        <ul>
          <li>2018-02-11 12:00-14:00<div class="time">2h</div></li>
          <li>2018-04-11 18:00-22:00<div class="time">4h</div></li>
        </ul>
      </div>

    </div>



  </div>
</template>

<script type="text/babel">
  export default {
    name: 'events',
    props: {

    },
    data () {
      return {
        server: server.data,
        store: ""
      }
    },
    components: {},
    created: function () {

      // 1] Set store
      this.store = this.$store.default;

    }
  }
</script>

<style lang="scss" scoped>

  .rsidebar-events .head {
    font-weight: bold;
    font-size: 14px;
    margin-top: 20px - $contents-chat-bubbles-padding-horizontal;
    padding-bottom: 20px;
    color: $global-font-color-dark;
  }


  .rsidebar-events .head-aria {
    position: relative;
    height: 24px;
    line-height: 24px;
    margin-bottom: 8px;

  }

  .rsidebar-events .head-aria .header{
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    color: $global-font-color-main;
  }

  .rsidebar-events .right-aria{
    display: inline-block;
    float: right;
    color: $global-font-color-gray;
  }

  .rsidebar-events .worklist{
    margin-bottom:24px;
  }

  .rsidebar-events .worklist ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .rsidebar-events .worklist .time{
    display: block;
    float: right;
    color: $global-font-color-gray;
  }


</style>
