<template>
	<div class="notmodal-add-choose">

		<!--header-->
		<div class="header">

			<!--title-->
			<div class="title">
				<span>Add extension instance to the bubble</span>
			</div>

			<!--description-->
			<div class="description">
				<span>Расширения позволяют сделать бабл более функциональным. Выберите расширение, которое хотели бы добавить.</span>
			</div>

		</div>

		<div class="ex-group">

			<!--title-->
			<div class="title">
				<span>TASK</span>
			</div>

			<!--content-->
			<div class="content">

				<div class="no-one" v-if="is_no_one_found">
					<p>No extensions</p>
				</div>

				<div v-else-if="is_spinner_visible" style="text-align: center">
					<md-progress-spinner :md-diameter="30" :md-stroke="3" md-mode="indeterminate"></md-progress-spinner>
				</div>

				<div v-else>

					<div class="extension" v-for="(extension, index) in store.state.extensions.list"
							v-bind:key="extension.name"
							@click="choose_add(extension.name)">

						<!--icon-->
						<div class="icon">
							<span :class="'icon icon-' + extension.name"></span>
						</div>

						<!--name-->
						<div class="ex-name">
							{{ extension.name }}
						</div>

					</div>

				</div>

			</div>

		</div>

	</div>
</template>

<script type="text/babel">
	export default {
		name: 'Add',
		props: {
			usecase: {
				default: "full"   // full, short
			}
		},
		data () {
			return {
				store: ""
			}
		},
		methods: {
			hide: function(data){
				this.store.commit('notmodal/hide', {})
			},
			choose_add: function(data){
				this.store.commit('notmodal/choose_add', {
					modal: data
				})
			}
		},
    computed: {
    	is_no_one_found: function(){
    	  return !this.store.state.extensions.list.length && this.store.state.extensions.in_progress === false;
    	},
    	is_spinner_visible: function(){
    	  return this.store.state.extensions.in_progress === true;
    	}
		},
		created: function(e) {

			// 1. Set store
			this.store = this.$store.default;

		},
		components: {}
	}
</script>

<style lang="scss" scoped>

	.notmodal-add-choose {

	}

	.notmodal-add-choose .header {
		padding-bottom: 15px;
	}
	.notmodal-add-choose .header .title {
		font-size: 24px;
		color: #d6d6d6;
		font-weight: 900;
		padding-bottom: 15px;
	}
	.notmodal-add-choose .header .description {
		font-weight: bold;
	}


	.notmodal-add-choose {}
	.notmodal-add-choose .ex-group {
		padding-top: 20px;
	}
	.notmodal-add-choose .ex-group .title {
		color: #d6d6d6;
		font-weight: 900;
	}
	.notmodal-add-choose .ex-group .content {
		padding: 15px 0;
		border-bottom: 1px solid #d6d6d6;
	}
	.notmodal-add-choose .ex-group .content .extension {
		position: relative;
		display: inline-block;
		width: 128px;
		height: 128px;
		line-height: 128px;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		transition: all .2s ease;
	}
	.notmodal-add-choose .ex-group .content .extension:hover {
		background: #eee;
	}
	.notmodal-add-choose .ex-group .content .extension .icon {
		display: inline-block;
		font-size: 50px;
		color: #898989;
		vertical-align: middle;
	}
	.notmodal-add-choose .ex-group .content .extension .icon span {
		line-height: 128px;
	}
	.notmodal-add-choose .ex-group .content .extension .ex-name {
		position: absolute; bottom: 0; left: 0;
		height: 25%;
		line-height: 1em;
		width: 100%;
		color: #898989;
		text-transform: capitalize;
	}

</style>
