<template>
  <div class="search">

		<v-container fill-height>

			<v-layout row>

				<v-flex class="logo" xs12>
					<v-text-field
						v-model="searchField"
						label="Поиск"
						@keyup.enter="search"
					></v-text-field>
				</v-flex>

			</v-layout>

		</v-container>

  </div>
</template>

<script type="text/babel">
  export default {
    name: 'search',
    data () {
      return {
      	store: "",
        server: server,
        searchField: ""
      }
    },
    components: {},
    methods: {
      search: function(data){

        // 1. Post a new message
        axios.post('/api/bubbles', {
          search: this.searchField
        })
          .then((response) => {

						this.store.commit('bubbles/bubbles', response.data.bubbles);

          })
          .catch(function (error) {
            console.log(error);
          });

      }
    },
    created: function () {

      // 1] Set store
      this.store = this.$store.default;

    }
  }
</script>

<style lang="scss" scoped>

  .search {}
  .search .container {
		height: $sidebar-navigation-height;
		line-height: $sidebar-navigation-height;
		padding: 0 15px;
  }

</style>
