<template>
  <div class="rmenu">

    <div class="tabs">
      <ul>
        <li
          class="li"
          v-for="(tab, index) in store.state.rsidebar.rmenu.list"
          :key="tab.title"
          :index="index"
          :class="{chosen: tab == store.state.rsidebar.rmenu.chosen}"
          @click="choose($event, tab)">

          <!-- If item type is 'item' -->
          <span v-if="tab.type === 'item'" :class="'icon-' + tab.icon_mdi"></span>

          <div class="select-underlining"></div>

          <!-- If item type is 'delimiter' -->
          <div class="delimiter" v-if="tab.type === 'delimiter'">
            <div></div>
            <div></div>
          </div>

        </li>
      </ul>
    </div>

  </div>
</template>

<script type="text/babel">
  export default {
    name: 'rmenu',
    props: {

    },
    data () {
      return {
        store: "",
        server: server.data
      }
    },
    methods: {
      choose(event, data) {

        // Choose
        this.store.commit('rsidebar/rmenu_choose', data);

        // Open
        this.store.commit('rsidebar/expand', data);
        this.store.commit('rsidebar/width', data);

      }
    },
    components: {
      'switcher': require('$app/rsidebar/switcher/switcher.vue'),
    },
    created: function () {

      // 1. Set store
      this.store = this.$store.default;

      // 2. Set default chosen value, if the panel is expanded
      if(this.store.state.rsidebar.expanded) {
				if (!this.store.state.rsidebar.rmenu.list.length) this.store.commit('rsidebar/rmenu_choose', "");
				else this.store.commit('rsidebar/rmenu_choose', this.store.state.rsidebar.rmenu.list[0]);
			}

    },
  }
</script>

<style lang="scss" scoped>

  .rmenu {
    z-index: 999;
    position: fixed; right: 0; top: 0;
    background: $rsidebar-rmenu-bg !important;
    width: $rsidebar-width;
    background: $rsidebar-bg;
    height: 100%;
    border-left: $rsidebar-border-width solid $rsidebar-border-color;
    transition: all .4s ease;
  }

  .rmenu .tabs ul .li .select-underlining{
    position: absolute;
    top: $rsidebar-width - $rsidebar-width/2 + 16px;
    left: $rsidebar-width - $rsidebar-width/2 - 12px;
    width: 24px;
    height: 4px;
    background-color: transparent;
    border-radius: 6px;
    transition: all .2s ease;
  }


  .rmenu .tabs ul .li.chosen .select-underlining
  {
    background-color: $rsidebar-menu-icon-chosen-color;
  }

  .rmenu .tabs ul {
    padding: 0;
    margin: 0;
  }
  .rmenu .tabs ul .li {
    position: relative;
    list-style: none;
    width: $rsidebar-width;
    height: $rsidebar-width;
    line-height: $rsidebar-width;
    text-align: center;
    display: list-item;
    cursor: pointer;
    margin-bottom: 6px;
  }

  .rmenu .tabs ul .li span {
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    color: $rsidebar-menu-icon-color;
    transition: all .2s ease;
  }
  .rmenu .tabs ul .li:hover span {
    color: $rsidebar-menu-icon-hover-color;
  }
  .rmenu .tabs ul .li.chosen span {
    color: $rsidebar-menu-icon-chosen-color;
  }
  .rmenu .tabs ul .li.chosen:hover span {
    color: darken($rsidebar-menu-icon-chosen-color, 10%);
  }

  .rmenu .tabs ul .li.delimiter {
    height: $rsidebar-width/3;
    display: inline-block;
    font-size: 0;
  }
  .rmenu .tabs ul .li .delimiter>div:nth-child(1) {
    height: $rsidebar-width/6 - $rsidebar-border-width;
    border-bottom: $rsidebar-border-width solid $rsidebar-border-color;
  }
  .rmenu .tabs ul .li .delimiter>div:nth-child(2) {
    height: $lsidebar-width/6;
  }



</style>
