<template>
  <div class="bubbles">

    <!--fixed top panel-->
    <div class="fixed-top-panel">

      <!--search-->
      <search></search>

      <!--newbubble-->
      <newbubble usecase="bubble"></newbubble>

    </div>

    <!--bubbles list-->
    <blist :server="server"></blist>

  </div>
</template>

<script type="text/babel">
  export default {
    name: 'bubbles',
    props: {
      server: Object
    },
    data () {
      return {
        store: "",
        ps: ""
      }
    },
    methods: {
      choose: function(data){
        this.store.commit('bubbles/choose', data);
      }
    },
    components: {
      'blist': require('$app/stack/blist/blist.vue'),
      'search': require('$app/stack/search/search.vue'),
      'newbubble': require('$app/stack/newbubble/newbubble.vue'),
    },
    created: function () {

      // 1] Set store
      this.store = this.$store.default;

      // 2] Set bubbles value
      this.store.commit('bubbles/bubbles', server.data.bubbles);

      // 3] Set default chosen value
      if(!this.store.state.bubbles.bubbles.length) this.store.commit('bubbles/choose', "");
      else this.store.commit('bubbles/choose', this.store.state.bubbles.bubbles[0]);

    }
  }
</script>

<style lang="scss" scoped>

  .bubbles {
    position: fixed; left: $contents-chat-bubbles-left; top: 0;
    width: $contents-chat-bubbles-width;
    background: $contents-chat-bubbles-bg;
    height: 100%;
    border-right: $contents-chat-bubbles-border-width solid $contents-chat-bubbles-border-color;
    padding: $contents-chat-bubbles-padding-vertical $contents-chat-bubbles-padding-horizontal;
  }

  .bubbles .fixed-top-panel {
    position: fixed; top: 0;
    background: $contents-chat-bubbles-bg;
    width: $contents-chat-bubbles-width - 2*$contents-chat-bubbles-padding-horizontal;
    z-index: 1;
    padding-bottom: 10px;
  }

</style>
