<template>
  <div class="modal">

    <md-dialog :md-active.sync="this.store.state.modal.active" :md-click-outside-to-close="false" :md-close-on-esc="false">

      <keep-alive>
        <component v-bind:is="store.state.modal.modals.chosen"></component>
      </keep-alive>

    </md-dialog>

  </div>
</template>

<script type="text/babel">
  export default {
    name: 'modal',
    data () {
      return {
        server: server,
        store: ""
      }
    },
    components: {
      'add_member': require('$app/modal/add_member/add_member.vue')
    },
    methods: {
      hide: function(data){
        this.store.commit('modal/show', {})
      }
    },
    created: function () {

      // 1. Set store
      this.store = this.$store.default;

    }
  }
</script>

<style lang="scss" scoped>

  .modal {

  }

</style>
