<template>
  <div class="rsidebar">

    <div class="tabs">
      <ul>
        <li
          v-for="(tab, index) in tabs.list"
          :key="tab"
          :index="index"
          :class="{chosen: tab == tabs.chosen}"
          @click="choose($event, tab)">
          {{ tab }}
        </li>
      </ul>
    </div>

    <div class="contents">
      <keep-alive>
        <component v-bind:is="tabs.chosen"></component>
      </keep-alive>
    </div>

  </div>
</template>

<script type="text/babel">
  export default {
    name: 'rsidebar',
    props: {

    },
    data () {
      return {
        server: server.data,
        tabs: {
          list: [
            'info',
            'bubbles',
            'files'
          ], 
          chosen: ''
        }
      }
    },
    components: {
      'info': require('$app/contents/rsidebar/info/info.vue'),
      'bubbles': require('$app/contents/rsidebar/bubbles/bubbles.vue'),
      'files': require('$app/contents/rsidebar/files/files.vue'),
    },
    methods: {
      choose(event, data) {
        this.tabs.chosen = data;
      },
    },
    created: function () {

      // 1] Set store
      this.store = this.$store.default;

      // 2] Set default chosen value
      if(!this.tabs.list.length) this.tabs.choosen = "";
      else this.tabs.chosen = this.tabs.list[2];

    }
  }
</script>

<style lang="scss" scoped>

  .rsidebar {
    position: fixed; right: 0; top: 0;
    width: $rsidebar-width;
    background: $rsidebar-bg;
    height: 100%;
    border-left: $rsidebar-border-width solid $rsidebar-border-color;
  }
  .rsidebar .tabs {}
  .rsidebar .tabs ul {
    margin-left: 0;
    padding-left: 0;
    border-bottom: 1px solid #ddd;
  }
  .rsidebar .tabs ul>li {
    list-style-type: none;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    min-width: 100px;
    text-align: center;
    border-right: 1px solid #ddd;
    cursor: pointer;
  }
  .rsidebar .tabs ul>li.chosen {
    background: darken($rsidebar-bg, 10%);
  }
  .rsidebar .contents {
    padding: 10px;
  }




</style>
