<template>
  <div class="bubbles">

    <!--header-->
    <div class="head-aria">
      <div class="header">Bubbles</div>
    </div>

    <!--create subbubble-->
    <newbubble usecase="subbubble"></newbubble>

    <!--subbubbles-->
    <div class="subbubbles">

      <template v-if="store.state.bubbles.chosen.children.length">
        <ul>
          <bubble
            v-for="(bubble, index) in store.state.bubbles.chosen.children"
            :chosen="store.state.bubbles.chosen"
            :key="bubble.id"
            :data="bubble"
            :index="index"
            usecase="list"
            @choose="choose">
          </bubble>
        </ul>
      </template>

      <template v-else>
        <p>There are no subbubbles...</p>
      </template>

    </div>


  </div>
</template>

<script type="text/babel">
  export default {
    name: 'bubbles',
    props: {
      server: Object
    },
    data () {
      return {
        store: ""
      }
    },
    methods: {
      choose: function(data){
        this.store.commit('bubbles/chooseById', data); 
      }
    },
    components: {
      'bubble':    require('$app/rsidebar/info/bubbles/bubble/bubble.vue'),
      'newbubble': require('$app/rsidebar/info/bubbles/newbubble/newbubble.vue'),
    },
    created: function () {

      // 1] Set store
      this.store = this.$store.default;

      // 2] Set bubbles value
      this.store.commit('bubbles/bubbles', this.store.state.bubbles.bubbles);

      // 3] Set default chosen value
      if(!this.store.state.bubbles.bubbles.length) this.store.commit('bubbles/choose', "");
      //else this.store.commit('bubbles/choose', this.store.state.bubbles.bubbles[0]);

      // 4] Initiate perfect scrollbar
      $(document).ready( () => {
        this.ps = new PerfectScrollbar(document.querySelector(".bubbles .subbubbles"), {
          wheelSpeed:.515,
          wheelPropagation: false,
          minScrollbarLength: 100,
          maxScrollbarLength: 100
        });
      });

    }
  }
</script>

<style lang="scss" scoped>

  .bubbles {}

  .extensions .head-aria {
    position: relative;
    height: 24px;
    line-height: 24px;
    margin-bottom: 8px;

  }

  .bubbles .head-aria .header{
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    color: $global-font-color-main;
  }

  .bubbles .subbubbles {
    position: relative;
    width: $rsidebar-expanded-width - $rsidebar-width - 2*$contents-chat-bubbles-padding-horizontal + 12px;
    padding-right: 12px;
  }

  .bubbles .subbubbles>ul {
    margin-left: 0;
    padding-left: 0;
    margin-top: 0;
  }

</style>
