<template>
  <div class="extensions">


    <!--header-->
    <div class="head-aria">
      <div class="header">Extensions</div>
      <div class="right-aria">
        <span class="icon-add-circle" @click="openAddNotmodal"></span>
      </div>
    </div>


    <!--contents-->

      <!--extensions (if is)-->
      <div v-if="store.state.bubbles.chosen && store.state.bubbles.chosen.extensions.length">
        <component
          v-for="(instance, index) in store.state.bubbles.chosen.extensions"
          :key="instance.extension.id"
          v-bind:is="instance.extension.name"
          :instance="instance"
          :index="index"
          :usecase="'widget'">
        </component>
      </div>

      <!--If there are no extensions-->
      <div v-else>
        <span>There are no extension instances yet.</span>
      </div>


  </div>
</template>

<script type="text/babel">
  export default {
    name: 'extensions',
    props: {

    },
    data () {
      return {
        server: server.data,
        store: ""
      }
    },
    components: {
      'deadline': require('$app/rsidebar/info/extensions/deadline/deadline.vue'),
    },
    created: function () {
      // 1] Set store
      this.store = this.$store.default;

    },
    methods: {
      openAddNotmodal: function(){

        // 1. Open notmodal window
        this.store.commit('notmodal/show', {});
        this.store.commit('notmodal/choose', {
          modal: 'add'
        });
        this.store.commit('notmodal/choose_add', {
          modal: 'choose'
        });

        // 2. Update extensions list for the current bubble

          // 1] Set in_progress == true
          this.store.commit('extensions/in_progress', true);

          // 2] Send request
          axios.post('/api/core/extensions/get', {
            bubble_id: this.store.state.bubbles.chosen.id,
          })
            .then((response) => {

              // 1] Set in_progress == false
              this.store.commit('extensions/in_progress', false);

              // 2] Update extensions data
              this.store.commit('extensions/list', response.data);

            })
            .catch((error) => {

              // 1] Notify user about error
              toastr.error('<h2>Error #'+error.response.status+' </h2><br>'+error.response.data.message);
              console.log(error);

              // 2] Set in_progress == false
              this.store.commit('extensions/in_progress', false);

            });

      }
    }
  }
</script>

<style lang="scss" scoped>

  .extensions{
    margin-bottom: 24px;
  }

  .extensions .head-aria {
    position: relative;
    height: 24px;
    line-height: 24px;
    margin-bottom: 8px;

  }

  .extensions .head-aria .header{
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    color: $global-font-color-main;
  }

  .extensions .right-aria{
    display: inline-block;
    float: right;
  }

  .extensions .right-aria span{
    font-size: $global-icon-size-standard;
    color: $global-icon-color-on-light;
    cursor: pointer;
    transition: all .2s ease;
  }

  .extensions .right-aria:hover span {
    color: $global-icon-color-accent;
  }


  
  .extensions .itemblock {
    margin-bottom: 5px;
  }
  .extensions .itemblock .itemheader {
    color: #ccc;
    font-size: 1em;
    font-weight: bold;
  }



</style>
