<template>
    <div class="profile">

        КонтентикКонтентик

    </div>
</template>

<script type="text/babel">
    export default {
        name: 'settingsarea',
        props: {
            server: Object
        },
        data () {
            return {
                store: "",
                ps: ""
            }
        },
        methods: { },
        components: {
        },
        created: function () {}
    }
</script>

<style lang="scss" scoped>



</style>
