<template>
  <div class="notmodal" v-show="store.state.notmodal.active === true">

    <!--close-->
    <div class="notmodal-close">
      <span class="icon-close-circle"
        @click="hide"></span>
    </div>

    <!--content-->
    <div class="notmodal-content">
      <component v-bind:is="store.state.notmodal.modals.chosen"></component>
    </div>

  </div>
</template>

<script type="text/babel">
  export default {
    name: 'notmodal',
    data () {
      return {
        server: server,
        store: ""
      }
    },
    components: {
      'add': require('$app/notmodal/add/add.vue'),
      'settings': require('$app/notmodal/settings/settings.vue'),
	  'event_chosen': require('$app/notmodal/event_chosen/event_chosen.vue')
    },
    methods: {
      hide: function(data){
		this.store.commit('notmodal/choose', {
			  modal: 'add'
		});
        this.store.commit('notmodal/hide', {})
      },
      show: function(data){
        this.store.commit('notmodal/show', {})
      }
    },
    created: function () {

      // 1. Set store
      this.store = this.$store.default;
    }
  }
</script>

<style lang="scss" scoped>

  .notmodal {}

  .notmodal .notmodal-close {
    position: fixed; top: 20px; right: 20px;
    width: 80px; height: 80px;
    line-height: 80px;
    cursor: pointer;
    font-size: 60px;
    border-radius: 40px;
    color: $global-icon-color-on-light;
    text-align: center;
    transition: all .2s ease;
  }
  .notmodal .notmodal-close:hover {
    color: $global-icon-color-danger;
  }

  .notmodal .notmodal-content {
    width: 640px;
    margin: 0 auto;
    padding: 30px 0 10px 0;
  }



</style>
