.down {
	position: absolute;
	right: 16px; bottom: 0;
	background: $contents-chat-chatarea-down-bg;
	box-shadow: 0 0 3px 0 $contents-chat-chatarea-down-color;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 25px;
	text-align: center;
	cursor: pointer;
	transition: all .4s ease;
}
.down.active {
	bottom: $contents-chat-chatarea-enter-height + 16px;
}
.down:hover {
	box-shadow: 0 0 6px 0 $contents-chat-chatarea-down-color;
}
.down span {
	display: inline-block;
	vertical-align: middle;
	font-size: $contents-chat-chatarea-down-fontsize;
	color: lighten($contents-chat-chatarea-down-color, 30%);
	transition: all .4s ease;
}
.down:hover span {
	color: $contents-chat-chatarea-down-color;
}






