<template>
  <div class="files">

    <!--header-->
    <div class="head">
      <span>Files</span>
    </div>

    <!--input-->
    <md-field>
      <label>Choose a file...</label>
      <md-file @md-change="getFileList" />
    </md-field>

    <!--button-->
    <div class="upload">
      <md-button class="md-raised md-primary"
        @click="upload"
        :disabled="!file">
          Upload
      </md-button>
    </div>

    <!--files list-->
    <div class="uploaded-files">

      <template v-if="store.state.bubbles.chosen.files.length">
        <ul>
          <file
            v-for="(file, index) in store.state.bubbles.chosen.files"
            :key="file.id"
            :data="file"
            :index="index"
          ></file>
        </ul>
      </template>

      <template v-else>
        <p>There are no uploaded files yet...</p>
      </template>

    </div>

  </div>
</template>

<script type="text/babel">
  export default {
    name: 'files',
    props: {

    },
    data () {
      return {
        server: server.data,
        store: "",
        file: null
      }
    },
    methods: {
      upload: function(event) {

        // 1. Prepare a file
        let file = this.file; //document.getElementById('file').files[0];
        if(!file) {
				  toastr.error('Сначала выберите файл');
					return;
				}

        // 2. Prepare a formdata
        let filename = file.name;
        let formdata = new FormData();
        formdata.append('file', file);
        formdata.append('name', filename);
        formdata.append('bubble_id', this.store.state.bubbles.chosen.id);

        // 3. Notify about request start
        toastr.info("Please, wait.", "Waiting for the file upload start", {timeOut: 99999999});

        // 4. Send a new request
        axios.post('/api/core/files/upload', formdata) //  '/api/files/upload_to_bubble/' + this.store.state.bubbles.chosen.id, formdata)
          .then(function (response) {

            // 1] Close all toasts
            toastr.clear();

            // 2] Notify about request success
            toastr.success('The file has been successfully uploaded!');

            // 3] Scroll files stack down
            setTimeout(function () {
              let el = document.querySelector('.files .uploaded-files');
              el.scrollTo(0, el.scrollHeight);
            }, 1000);

          })
          .catch(function (error) {
            toastr.error('<h2>Error #'+error.response.status+' </h2><br>'+error.response.data.message);
            console.log(error);
            toastr.clear();
          });

      },
      pushNewFile: function(id_bubble, file) {
        this.store.commit('bubbles/pushNewFile', {
          'id_bubble': id_bubble,
          'file': file
        });
      },
      getFileList: function(filelist) {
        this.file = filelist[0];
      }
    },
    components: {
      'file':    require('$app/rsidebar/files/file/file.vue')
    },
    created: function () {

      // 1. Set store
      this.store = this.$store.default;

      // 2. Listen to a new file messages from the websocket server
      //Echo.private('App.Bubble.Files.'+this.store.state.bubbles.chosen.id)
      //  .listen('BroadcastBubbleFilesList', (e) => {
      //    this.pushNewFile(e.id_bubble, e.file);
      //  });

      // 3. Initiate perfect scrollbar
      $(document).ready( () => {
        this.ps = new PerfectScrollbar(document.querySelector(".files .uploaded-files"), {
          wheelSpeed:.515,
          wheelPropagation: false,
          minScrollbarLength: 100,
          maxScrollbarLength: 100
        });
      });

    },
  }
</script>

<style lang="scss" scoped>

  .files {
    //padding: 0 10px;
  }
  .files .head {
    font-weight: bold;
    font-size: 14px;
    margin-top: 20px - $contents-chat-bubbles-padding-horizontal;
    padding-bottom: 20px;
    color: $global-font-color-dark;
  }
  .files .uploaded-files {
    position: absolute; bottom: 0;
    top: 160px;

    width: $rsidebar-expanded-width - $rsidebar-width - 2*$rsidebar-files-file-padding-horizontal + 8px;
    padding-right: 12px;
  }
  .files .uploaded-files>ul {
    margin-left: 0;
    padding-left: 0;
    margin-top: 0;
  }

  .files .upload {}
  .files .md-field {
    margin-bottom: 6px;
  }

</style>
