<template>
  <div class="contacts">

    contacts

  </div>
</template>

<script type="text/babel">
  export default {
    name: 'contacts',
    props: {

    },
    data () {
      return {
        store: ""
      }
    },
    methods: {},
    components: {},
    created: function () {

      // 1. Set store
      this.store = this.$store.default;

    },
    beforeDestroy: function() {}
  }
</script>

<style lang="scss" scoped>

  .contacts {
    position: relative;
  }



</style>
