<template>
  <li class="file"
  	title="download file"
  	@click="download($event, data)">

		<!--icon-->
		<div class="icon">
			<i class="mdi mdi-download"></i>
		</div>

		<!--content-->
		<div class="file_content">

			<!--name-->
			<div class="name">
				{{ data.real_name }}
			</div>

			<!--additional-->
			<div class="additional">
				{{ data.created_at }}
			</div>

		</div>

  </li>
</template>

<script type="text/babel">
  export default {
    name: 'file',
    props: {
			data: Object,
			index: Number
		},
    data () {
      return {
				store: ""
      }
    },
    methods: {
      download: function(event, data){

        // 1. Notify about request start
        toastr.info("Please, wait.", "Waiting for the file download start", {timeOut: 99999999});

				// 2. Send a new request
				data['bubble_id'] = this.store.state.bubbles.chosen.id;
				axios.post('/api/core/files/download', data, {  //  '/api/files/download_from_bubble/' + this.store.state.bubbles.chosen.id, data, {
					responseType: 'blob', // important
				})
					.then(function (response) {

            // 1] Close all toasts
            toastr.clear();

						// 2] Start download
						const url = window.URL.createObjectURL(new Blob([response.data]));
						const link = document.createElement('a');
						link.href = url;
						link.setAttribute('download', data.real_name);
						document.body.appendChild(link);
						link.click();

            // 3] Notify about request success
            toastr.success('Download has started!');

					})
					.catch(function (error) {
						toastr.error('<h2>Error #'+error.response.status+' </h2><br>'+error.response.data.message);
						console.log(error);
						toastr.clear();
					});

      }
    },
    components: {},
    created: function () {

      // 1. Set store
      this.store = this.$store.default;

    },
  }
</script>

<style lang="scss" scoped>

.file {
	position: relative;
	list-style-type: none;
	height: $rsidebar-files-file-height;
	margin: $rsidebar-files-file-margin;
	padding: $rsidebar-files-file-padding-vertical $rsidebar-files-file-padding-horizontal;
	background: $rsidebar-files-file-bg;
	color: $rsidebar-files-file-color;
	border-radius: $rsidebar-files-file-border-radius;
	cursor: pointer;
	//font-size: 0;
	transition: all .2s ease;
}

.file .icon {
	position: absolute; top: $rsidebar-files-file-padding; left: 0;
	width: $rsidebar-files-file-icon-width;
	height: $rsidebar-files-file-icon-width;
	line-height: $rsidebar-files-file-icon-width;
	//border: 1px solid #ccc;
	text-align: center;
	border-radius: 4px;
	overflow: hidden;
	margin-left: $rsidebar-files-file-padding-vertical;
	color: #777;
	font-size: 30px;
	transition: all .2s ease;
}
.file:hover {
	background: $rsidebar-files-file-bg-hover;
}
.file:hover i {
	color: #333;
}

.file .file_content {
	min-height: $rsidebar-files-file-icon-width;
	padding: 0 $rsidebar-files-file-icon-width + $rsidebar-files-file-padding;
}
.file .file_content .name {
	height: $rsidebar-files-file-icon-width/2 - 5px;
	line-height: $rsidebar-files-file-icon-width/2 - 5px;
	margin-bottom: 5px;
}
.file .file_content .additional {
	min-height: $rsidebar-files-file-icon-width/2;
	color: $rsidebar-files-file-additional-color;
}


</style>