<template>
  <div class="bubbles">

    <template v-if="store.state.bubbles.chosen.children.length">
      <ul>
        <bubble
          v-for="(bubble, index) in store.state.bubbles.chosen.children"
          :chosen="store.state.bubbles.chosen"
          :key="bubble.id"
          :data="bubble"
          :index="index"
          @choose="choose">>
        </bubble>
      </ul>
    </template>

    <template v-else>
      <p>Дочерние баблы отсутствуют...</p>
    </template>

  </div>
</template>

<script type="text/babel">
  export default {
    name: 'bubbles',
    props: {
      server: Object
    },
    data () {
      return {
        store: ""
      }
    },
    methods: {
      choose: function(data){
        this.store.commit('bubbles/choose', data);
      }
    },
    components: {
      'bubble':    require('$app/contents/rsidebar/bubbles/bubble/bubble.vue')
    },
    created: function () {

      // 1] Set store
      this.store = this.$store.default;

      // 2] Set bubbles value
      this.store.commit('bubbles/bubbles', server.data.bubbles);

      // 3] Set default chosen value
      if(!this.store.state.bubbles.bubbles.length) this.store.commit('bubbles/choose', "");
      else this.store.commit('bubbles/choose', this.store.state.bubbles.bubbles[0]);

    }
  }
</script>

<style lang="scss" scoped>

  .bubbles {}
  .bubbles>ul {
    margin-left: 0;
    padding-left: 0;
  }

</style>
