<div class="notmodal-deadline">

	<!-- ----------- -->
	<!-- ADD VERSION -->
	<!-- ----------- -->
	<div class="add" v-if="usecase === 'add'">

		<!--title_and_description-->
		<div class="header">

			<!--title-->
			<div class="title">
				<span>Deadline instance add</span>
			</div>

			<!--description-->
			<div class="description">
				<span>{{ store.state.bubbles.chosen.title }}</span>
			</div>

			<!--back-->
			<back1 target="choose"></back1>

		</div>

		<!--content-->
		<div class="content">

			<datetime
				placeholder="Choose date and time..."
				v-model="datetime4add"
				type="datetime"
				input-class="datetime-input-big"
				:format="{ year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: '2-digit', timeZoneName: 'short' }">
			</datetime>

		</div>

		<!--buttons-->
		<div class="buttons">

			<!--Apply-->
			<div class="apply" @click="add">
				Add
			</div>

			<!--Cancel-->
			<div class="cancel" @click="hide">
				Cancel
			</div>

		</div>

	</div>

	<!-- ---------------- -->
	<!-- SETTINGS VERSION -->
	<!-- ---------------- -->
	<div class="add" v-if="usecase === 'settings'">

		<!--title_and_description-->
		<div class="header">

			<!--title-->
			<div class="title">
				<span>Deadline instance settings</span>
			</div>

			<!--description-->
			<div class="description">
				<span>{{ store.state.bubbles.chosen.title }}</span>
			</div>

			<!--delete button-->
			<div class="del-button">
				<md-button class="md-raised md-accent"
					@click="deleteInstance">Delete</md-button>
			</div>

		</div>

		<!--content-->
		<div class="content">

			<!--datetime picker-->
			<datetime
				placeholder="Choose date and time..."
				v-model="datetime"
				type="datetime"
				input-class="datetime-input-big"
				:format="{ year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: '2-digit', timeZoneName: 'short' }">
			</datetime>

		</div>

		<!--buttons-->
		<div class="buttons">

			<!--Apply-->
			<div class="apply" @click="update">
				Update
			</div>

			<!--Cancel-->
			<div class="cancel" @click="hide">
				Cancel
			</div>

		</div>

	</div>

	<!-- -------------- -->
	<!-- WIDGET VERSION -->
	<!-- -------------- -->
	<div class="widget" v-if="usecase === 'widget'">

		<!--header and zone #1-->
		<div class="zone-header-one">

			<!--header-->
			<div class="zone-header" @click="openSettingsNotmodal">
				<span>{{ this.instance.extension.name }}</span>
				<i class="mdi mdi-settings"></i>
			</div>

			<!--zone #1-->
			<div class="zone-one">
				<datetime
					placeholder="Choose date and time..."
					v-model="datetime"
					type="datetime"
					input-class="datetime-input-small"
					:format="{ year: 'numeric', month: 'short', day: 'numeric', hour: 'numeric', minute: '2-digit', timeZoneName: 'short' }"
					@input="update">
				</datetime>
			</div>

		</div>

		<!--zone #2-->
		<div class="zone-two" style="display: none">
			<span>zone #2</span>
		</div>

	</div>

</div>